<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.AccountcashdepositRecordMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.AccountcashdepositRecord" >
    <id column="tranId" property="tranId" jdbcType="INTEGER" />
    <result column="accountAccessCode" property="accountaccesscode" jdbcType="VARCHAR" />
    <result column="accountAccessType" property="accountaccesstype" jdbcType="INTEGER" />
    <result column="orgCode" property="orgcode" jdbcType="VARCHAR" />
    <result column="occur" property="occur" jdbcType="DECIMAL" />
    <result column="realPay" property="realpay" jdbcType="DECIMAL" />
    <result column="tranTime" property="trantime" jdbcType="TIMESTAMP" />
    <result column="xid" property="xid" jdbcType="BIGINT" />
    <result column="tranStatus" property="transtatus" jdbcType="INTEGER" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="cardNo" property="cardNo" jdbcType="VARCHAR" />
    <result column="orgCode" property="orgcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tranId, accountAccessCode, accountAccessType, orgCode, occur, realPay, tranTime, 
    xid, tranStatus, transaction_id, custname,cardNo
  </sql>
  
  <select id="selectByPageList" resultMap="BaseResultMap" parameterType="com.linjia.web.query.AccountcashdepositRecordQuery" >
    select 
        tranId, accountAccessCode, accountAccessType, cm.orgCode, occur, realPay, tranTime, 
    xid, tranStatus, transaction_id, custname,cardNo,cm.phone
    from b_accountcashdeposit_record bar 
    inner join cust_master cm on bar.accountAccessCode = cm.user_id
    where 1 = 1 
    <if test="custname != null and custname !=''" >
     	AND cm.custname like CONCAT(CONCAT('%',#{custname}),'%')
    </if>
    <if test="phone != null and phone !=''" >
     	AND cm.phone like CONCAT(CONCAT('%',#{phone}),'%')
    </if>
    <if test="transtatus != null  and transtatus !=''" >
     	AND bar.tranStatus = #{transtatus,jdbcType=INTEGER}
    </if>
    <if test="startTrantime != null  and startTrantime !=''" >
     	<![CDATA[AND bar.tranTime >= #{startTrantime,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="endTrantime != null  and endTrantime !=''" >
     	<![CDATA[AND bar.tranTime <= #{endTrantime,jdbcType=TIMESTAMP}]]>
    </if>
    order by tranId desc
    <if test="exportFlag ==null">
    	limit #{pageIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="selectByPageListNum" resultType="int" parameterType="com.linjia.web.query.AccountcashdepositRecordQuery" >
    select 
        count(*)
    from b_accountcashdeposit_record bar 
    inner join cust_master cm on bar.accountAccessCode = cm.user_id
    where 1 = 1 
    <if test="custname != null and custname !=''" >
     	AND cm.custname like CONCAT(CONCAT('%',#{custname}),'%')
    </if>
    <if test="phone != null and phone !=''" >
     	AND cm.phone like CONCAT(CONCAT('%',#{phone}),'%')
    </if>
    <if test="transtatus != null  and transtatus !=''" >
     	AND bar.tranStatus = #{transtatus,jdbcType=INTEGER}
    </if>
    <if test="startTrantime != null  and startTrantime !=''" >
     	<![CDATA[AND bar.tranTime >= #{startTrantime,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="endTrantime != null  and endTrantime !=''" >
     	<![CDATA[AND bar.tranTime <= #{endTrantime,jdbcType=TIMESTAMP}]]>
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_accountcashdeposit_record
    where tranId = #{tranId,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.linjia.web.model.AccountcashdepositRecord" >
    insert into b_accountcashdeposit_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountaccesscode != null" >
        accountAccessCode,
      </if>
      <if test="accountaccesstype != null" >
        accountAccessType,
      </if>
      <if test="orgcode != null" >
        orgCode,
      </if>
      <if test="occur != null" >
        occur,
      </if>
      <if test="realpay != null" >
        realPay,
      </if>
      <if test="trantime != null" >
        tranTime,
      </if>
      <if test="xid != null" >
        xid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountaccesscode != null" >
        #{accountaccesscode,jdbcType=VARCHAR},
      </if>
      <if test="accountaccesstype != null" >
        #{accountaccesstype,jdbcType=INTEGER},
      </if>
      <if test="orgcode != null" >
        #{orgcode,jdbcType=VARCHAR},
      </if>
      <if test="occur != null" >
        #{occur,jdbcType=DECIMAL},
      </if>
      <if test="realpay != null" >
        #{realpay,jdbcType=DECIMAL},
      </if>
      <if test="trantime != null" >
        #{trantime,jdbcType=TIMESTAMP},
      </if>
      <if test="xid != null" >
        #{xid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.AccountcashdepositRecord" >
    update b_accountcashdeposit_record
    set tranStatus = #{transtatus,jdbcType=INTEGER},
    transaction_id = #{transactionId,jdbcType=VARCHAR}
    where tranId = #{tranId,jdbcType=INTEGER}
  </update>
</mapper>