<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.ActivityMemberPromotionMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.ActivityMemberPromotion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_type" property="activityType" jdbcType="INTEGER" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="prize_type" property="prizeType" jdbcType="BIT" />
    <result column="prize_name" property="prizeName" jdbcType="VARCHAR" />
    <result column="prize_num" property="prizeNum" jdbcType="INTEGER" />
    <result column="card_coupon_id" property="cardCouponId" jdbcType="INTEGER" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="use_status" property="useStatus" jdbcType="BIT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_type, activity_name, start_time, end_time, prize_type, prize_name, prize_num, 
    card_coupon_id, sort_index, use_status, deleted, cre_date
  </sql>
  
  <select id="selectByPageList" resultMap="BaseResultMap" parameterType="com.linjia.web.query.ActivityMemberPromotionQuery" >
    select
    <include refid="Base_Column_List" />
    from b_activity_member_promotion
    where deleted = 0 
    <if test="activityName != null and activityName !=''" >
        AND activity_name like #{activityNameQuery,jdbcType=VARCHAR}
    </if>
    <if test="startTime != null" >
        <![CDATA[ AND start_time >= #{startTime,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="endTime != null" >
        <![CDATA[ AND end_time <= #{endTime,jdbcType=TIMESTAMP}]]>
    </if>
    order by id desc
    limit #{startIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_activity_member_promotion
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 同一时间段内是否存在重复排期 -->
  <select id="selectExistsSameTime" resultType="java.lang.Integer" parameterType="map" >
    SELECT count(id) FROM `b_activity_member_promotion` 
    where deleted =0 
    <![CDATA[AND ((start_time < #{startTime,jdbcType=TIMESTAMP} && end_time > #{startTime,jdbcType=TIMESTAMP}) OR (end_time > #{endTime,jdbcType=TIMESTAMP} && start_time < #{endTime,jdbcType=TIMESTAMP})) ]]>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update b_activity_member_promotion set deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.linjia.web.model.ActivityMemberPromotion" >
    insert into b_activity_member_promotion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityType != null" >
        activity_type,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="prizeType != null" >
        prize_type,
      </if>
      <if test="prizeName != null" >
        prize_name,
      </if>
      <if test="prizeNum != null" >
        prize_num,
      </if>
      <if test="cardCouponId != null" >
        card_coupon_id,
      </if>
      <if test="sortIndex != null" >
        sort_index,
      </if>
      <if test="useStatus != null" >
        use_status,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="creDate != null" >
        cre_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityType != null" >
        #{activityType,jdbcType=INTEGER},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prizeType != null" >
        #{prizeType,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null" >
        #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeNum != null" >
        #{prizeNum,jdbcType=INTEGER},
      </if>
      <if test="cardCouponId != null" >
        #{cardCouponId,jdbcType=INTEGER},
      </if>
      <if test="sortIndex != null" >
        #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="useStatus != null" >
        #{useStatus,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="creDate != null" >
        #{creDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.linjia.web.query.ActivityMemberPromotionQuery" resultType="java.lang.Integer" >
    select
    count(id)
    from b_activity_member_promotion
    where deleted = 0 
    <if test="activityName != null and activityName !=''" >
        AND activity_name like #{activityNameQuery,jdbcType=VARCHAR}
    </if>
    <if test="startTime != null" >
        <![CDATA[ AND start_time >= #{startTime,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="endTime != null" >
        <![CDATA[ AND end_time <= #{endTime,jdbcType=TIMESTAMP}]]>
    </if>
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.ActivityMemberPromotion" >
    update b_activity_member_promotion
    <set >
      <if test="activityType != null" >
        activity_type = #{activityType,jdbcType=INTEGER},
      </if>
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prizeType != null" >
        prize_type = #{prizeType,jdbcType=INTEGER},
      </if>
      <if test="prizeName != null" >
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeNum != null" >
        prize_num = #{prizeNum,jdbcType=INTEGER},
      </if>
      <if test="cardCouponId != null" >
        card_coupon_id = #{cardCouponId,jdbcType=INTEGER},
      </if>
      <if test="sortIndex != null" >
        sort_index = #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="useStatus != null" >
        use_status = #{useStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 更改启用状态 -->
  <update id="updateStatusByPrimaryKey" parameterType="map" >
    update b_activity_member_promotion
    set use_status = #{useStatus,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>