<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.linjia.web.dao.ActivityAdvertiseMapper">
	<!-- 缓存 -->  
   <!--  <cache eviction="LRU" type="com.linjia.core.feature.cache.MybatisRedisCache" />  -->
    
	<insert id="insertAyAdvInfo" parameterType="com.linjia.web.model.ActivityAdvertise">
		insert into b_activity_advertise(activity_id,activity_name,picture,activity_rule,activity_type,create_time) 
		values(#{activity_id},#{activity_name},#{picture},#{activity_rule},#{activity_type},SYSDATE())
	</insert>
	
	<update id="updateAyAdvInfoById" parameterType="com.linjia.web.model.ActivityAdvertise">
		update b_activity_advertise 
		<set>
			<if test="activity_id !=null and activity_id !=''">
				activity_id=#{activity_id},
			</if>
			<if test="activity_name !=null and activity_name !='' ">
				activity_name=#{activity_name},
			</if>
			<if test="picture !=null and picture !='' ">
				picture=#{picture},
			</if>
			<if test="activity_rule !=null and activity_rule !='' ">
				activity_rule=#{activity_rule},
			</if>
			<if test="activity_type !=null and activity_type !=''">
				activity_type=#{activity_type},
			</if>
			update_time=SYSDATE()
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteAyAdvInfoById" parameterType="int">
		delete from b_activity_advertise where id=#{id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="selectAyAdvInfoById" parameterType="int" resultType="com.linjia.web.model.ActivityAdvertise">
		select id,activity_id,activity_name,
		CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',picture) AS picture,
		activity_rule,activity_type,create_time,update_time from b_activity_advertise where activity_id=#{activity_id}
	</select>
	
	<select id="selectAyAdvInfoAll" resultType="com.linjia.web.model.ActivityAdvertise">
		select id,activity_id,activity_name,
		CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',picture) AS picture,
		activity_rule,create_time,activity_type,update_time from b_activity_advertise 
	</select>
	
</mapper>