<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.linjia.web.dao.BannerInfoMapper">
	<!-- 缓存 -->  
   <!--  <cache eviction="LRU" type="com.linjia.core.feature.cache.MybatisRedisCache" />  -->
    
	<insert id="insertBannerInfo" parameterType="com.linjia.web.model.BannerInfo">
		insert into b_banner_info(order_px,banner_name,ban_picture,ban_link,ad_id,ad_type,productId,p_code,create_time) 
		values(#{order_px},#{banner_name},#{ban_picture},#{ban_link},#{ad_id},#{ad_type},#{productId},#{p_code},SYSDATE())
	</insert>
	
	<update id="updateBannerInfoById" parameterType="com.linjia.web.model.BannerInfo">
		update b_banner_info 
		<set>
			<if test="order_px !=null">
				order_px=#{order_px},
			</if>
			<if test="banner_name !=null">
				banner_name=#{banner_name},
			</if>
			<if test="ban_picture !=null">
				ban_picture=#{ban_picture},
			</if>
			<if test="ad_type !=null">
				ad_type=#{ad_type},
			</if>
			<if test="ban_link !=null">
				ban_link=#{ban_link},
			</if>
			<if test="ad_id !=null">
				ad_id=#{ad_id},
			</if>
			<if test="productId !=null">
				productId=#{productId},
			</if>
			<if test="p_code !=null">
				p_code=#{p_code},
			</if>			
			update_time=SYSDATE()
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteBannerInfoById" parameterType="int">
		delete from b_banner_info where id=#{id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="selectBannerInfoById" parameterType="int" resultType="com.linjia.web.model.BannerInfo">
		select id,order_px,banner_name,productId,p_code,
		CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',ban_picture) AS ban_picture,
		ban_link,ad_id,ad_type,create_time,update_time from b_banner_info where id=#{id}
	</select>
	
	<select id="selectBannerInfoAll" parameterType="map" resultType="com.linjia.web.model.BannerInfo">
		select id,order_px,banner_name,productId,p_code,
		CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',ban_picture) AS ban_picture,
		ban_link,ad_id,ad_type,create_time,update_time from b_banner_info
		where ad_id=#{ad_id} 
		<if test="ad_type !=null">
			and ad_type=#{ad_type}
		</if>
		order by order_px asc
	</select>
	
	<!-- 批量设置修改banner -->
	<update id="updBatchBaseInfos"  parameterType="java.util.List">  
          <foreach collection="list" item="item" index="index" open="" close="" separator=";">  
         	 update b_banner_info   
               <set>
					<if test="item.order_px !=null">order_px=#{item.order_px},</if>
					<if test="item.banner_name !=null">banner_name=#{item.banner_name},</if>
					<if test="item.ban_picture !=null">ban_picture=#{item.ban_picture},</if>
					<if test="item.ban_link !=null">ban_link=#{item.ban_link},</if>
					<if test="item.ad_id !=null">ad_id=#{item.ad_id},</if>
					<if test="item.ad_type !=null">ad_type=#{item.ad_type},</if>
					<if test="item.p_code !=null">p_code=#{item.p_code},</if>
					<if test="item.productId !=null">productId=#{item.productId} </if>
				</set>
				where id=#{item.id}
         </foreach>  
    </update>
</mapper>