<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.BrandMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.Brand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="logo_path" property="logoPath" jdbcType="VARCHAR" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="use_status" property="useStatus" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, logo_path, cre_date, deleted, use_status
  </sql>
  
  <!-- 根据筛选条件查询品牌 -->
  <select id="selectBySerach" resultMap="BaseResultMap" parameterType="com.linjia.web.query.BrandQuery" >
    select
    <include refid="Base_Column_List" />
    from b_brand
    where deleted = 0
    <if test="name != null and name !=''" >
      and name like #{nameQuery,jdbcType=VARCHAR}
    </if>
    order by id desc
    limit #{startIndex},#{pageSize}
  </select>
  
  <!-- 查询品牌列表 -->
  <select id="selectAllBrandList" resultMap="BaseResultMap"  >
    select
    id,name
    from b_brand
    where deleted = 0 and use_status = 0
    order by id desc
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!-- delete from b_brand
    where id = #{id,jdbcType=INTEGER} -->
    update b_brand set deleted = true where id = #{id,jdbcType=INTEGER}
  </delete>
 
  <insert id="insertSelective" parameterType="com.linjia.web.model.Brand" >
    insert into b_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="logoPath != null" >
        logo_path,
      </if>
      <if test="creDate != null" >
        cre_date,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="logoPath != null" >
        #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="creDate != null" >
        #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjia.web.query.BrandQuery" resultType="java.lang.Integer" >
    select count(id) from b_brand
    where deleted = 0
    <if test="name != null and name !=''" >
      and name like #{nameQuery,jdbcType=VARCHAR}
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.Brand" >
    update b_brand
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="logoPath != null" >
        logo_path = #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="creDate != null" >
        cre_date = #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
   	where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 更改使用状态 -->
  <update id="updateUseStatusByPrimaryKey" parameterType="com.linjia.web.model.Brand" >
    update b_brand set use_status = #{useStatus,jdbcType=BIT}
   	where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据name查找id -->
   <select id="selectIdByName" resultType="java.lang.Long" parameterType="java.lang.String"  >
    select 
    id
    from b_brand
    where name = #{name,jdbcType=VARCHAR}
    and deleted = 0 and use_status = 0
  </select>
</mapper>