<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.CardCouponThirdMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.CardCouponThird" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="card_coupon_id" property="cardCouponId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="valid_start_time" property="validStartTime" jdbcType="TIMESTAMP" />
    <result column="valid_end_time" property="validEndTime" jdbcType="TIMESTAMP" />
    <result column="exchange_time" property="exchangeTime" jdbcType="TIMESTAMP" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="score_order_id" property="scoreOrderId" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, card_coupon_id, name, type, content, status, valid_start_time, valid_end_time, 
    exchange_time, cre_date, score_order_id, deleted
  </sql>
  
  <select id="selectPageListByCardCouponId" resultMap="BaseResultMap" parameterType="com.linjia.web.query.CardCouponThirdQuery" >
    select
    <include refid="Base_Column_List" />
    from card_coupon_third
    where card_coupon_id = #{cardCouponId,jdbcType=BIGINT}
    <if test="status == 0 or status == 1" >
    	AND status = #{status,jdbcType=INTEGER}
    </if>
    <if test="status == 2 " >
    	<![CDATA[ AND valid_end_time < now() ]]>
    </if>
    order by cre_date desc
    <if test="exportFlag == null">
   		limit #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from card_coupon_third
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from card_coupon_third
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertBatch" parameterType="map" >
    insert into card_coupon_third (card_coupon_id, name, 
      type, content, status, valid_start_time, 
      valid_end_time,cre_date
      )
    values 
    <foreach collection="list" item="item" index="index" separator=",">
    (#{cardCouponId,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, 
      #{item.type,jdbcType=INTEGER}, #{item.content,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.validStartTime,jdbcType=TIMESTAMP}, 
      #{item.validEndTime,jdbcType=TIMESTAMP},#{creDate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.CardCouponThird" >
    update card_coupon_third
    <set >
      <if test="cardCouponId != null" >
        card_coupon_id = #{cardCouponId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="validStartTime != null" >
        valid_start_time = #{validStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndTime != null" >
        valid_end_time = #{validEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangeTime != null" >
        exchange_time = #{exchangeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>