<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.CustMasterMapper">
	<resultMap id="BaseResultMap" type="com.linjia.web.model.CustMaster">
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="custID" property="custid" jdbcType="VARCHAR" />
		<result column="pcustID" property="pcustid" jdbcType="INTEGER" />
		<result column="custname" property="custname" jdbcType="VARCHAR" />
		<result column="login" property="login" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="rankName" property="rankname" jdbcType="VARCHAR" />
		<result column="sumAmt" property="sumamt" jdbcType="DECIMAL" />
		<result column="IPPort" property="ipport" jdbcType="VARCHAR" />
		<result column="lastLogin" property="lastlogin" jdbcType="TIMESTAMP" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="rankID" property="rankid" jdbcType="SMALLINT" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="nickName" property="nickname" jdbcType="VARCHAR" />
		<result column="useFlg" property="useflg" jdbcType="INTEGER" />
		<result column="head_pic" property="headPic" jdbcType="VARCHAR" />
		<result column="custType" property="custtype" jdbcType="INTEGER" />
		<result column="unionName" property="unionname" jdbcType="VARCHAR" />
		<result column="provinceid" property="provinceid" jdbcType="INTEGER" />
		<result column="provinceName" property="provincename" jdbcType="VARCHAR" />
		<result column="cityid" property="cityid" jdbcType="INTEGER" />
		<result column="cityName" property="cityname" jdbcType="VARCHAR" />
		<result column="countyid" property="countyid" jdbcType="INTEGER" />
		<result column="countyName" property="countyname" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="QQ" property="qq" jdbcType="VARCHAR" />
		<result column="identityCard" property="identitycard" jdbcType="VARCHAR" />
		<result column="maritalStatus" property="maritalstatus"
			jdbcType="VARCHAR" />
		<result column="monthlyIncome" property="monthlyincome"
			jdbcType="INTEGER" />
		<result column="payPwd" property="paypwd" jdbcType="VARCHAR" />
		<result column="recom_pcustID" property="recomPcustid"
			jdbcType="INTEGER" />
		<result column="referee" property="referee" jdbcType="VARCHAR" />
		<result column="cardNo" property="cardno" jdbcType="VARCHAR" />
		<result column="external_no" property="externalNo" jdbcType="VARCHAR" />
		<result column="register_channel" property="registerChannel"
			jdbcType="INTEGER" />
		<result column="api_customer_rank" property="apiCustomerRank"
			jdbcType="VARCHAR" />
		<result column="offline_pcustID" property="offlinePcustid"
			jdbcType="VARCHAR" />
		<result column="mallID" property="mallid" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, creator, custID, pcustID, custname, email, rankName, sumAmt, IPPort,
		lastLogin,
		sex, pwd, rankID, birthday, phone, nickName, useFlg, head_pic, custType,
		unionName,
		provinceid, provinceName, cityid, cityName, countyid, countyName, address, QQ,
		identityCard,
		maritalStatus, monthlyIncome, payPwd, recom_pcustID, referee, cardNo, external_no,
		register_channel, api_customer_rank, offline_pcustID, mallID
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from cust_master
		where user_id = #{userId,jdbcType=BIGINT}
	</select>

	<select id="selectLoginByPrimaryKey" resultType="java.lang.String"
		parameterType="java.lang.Long">
		select login
		from cust_master
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>

	<!-- 当用户记录存在时进行更新，不存在时进行插入 -->
	<insert id="insertOrUpdate" parameterType="com.linjia.web.model.CustMaster">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
			select count(*) from cust_master where user_id =
			#{userId,jdbcType=VARCHAR}
		</selectKey>
		<if test="count > 0">
			update cust_master
			set
			login = #{login,jdbcType=VARCHAR},
			custname = #{custname,jdbcType=VARCHAR},
			email = #{email,jdbcType=VARCHAR},
			rankName = #{rankname,jdbcType=VARCHAR},
			sex = #{sex,jdbcType=VARCHAR},
			pwd = #{pwd,jdbcType=VARCHAR},
			birthday = #{birthday,jdbcType=TIMESTAMP},
			phone = #{phone,jdbcType=VARCHAR},
			nickName = #{nickname,jdbcType=VARCHAR},
			QQ = #{qq,jdbcType=VARCHAR},
			maritalStatus = #{maritalstatus,jdbcType=VARCHAR},
			cardNo = #{cardno,jdbcType=VARCHAR},
			offline_pcustID = #{offlinePcustid,jdbcType=VARCHAR},
			mallID = #{mallid,jdbcType=INTEGER},
			appName = #{appName,jdbcType=VARCHAR},
			originCode = #{originCode,jdbcType=VARCHAR},
			orgCode = #{orgCode,jdbcType=VARCHAR},
			orgName = #{orgName,jdbcType=VARCHAR} 
			where user_id = #{userId,jdbcType=BIGINT}
		</if>
		<if test="count==0">
			insert into cust_master (user_id, creator, custID,
			pcustID, custname, email,
			rankName, sumAmt, IPPort,
			lastLogin, sex, pwd,
			rankID, birthday, phone,
			nickName, useFlg, head_pic,
			custType, unionName, provinceid,
			provinceName, cityid, cityName,
			countyid, countyName, address,
			QQ, identityCard, maritalStatus,
			monthlyIncome, payPwd, recom_pcustID,
			referee, cardNo, external_no,
			register_channel, api_customer_rank, offline_pcustID,
			mallID, appName, registerDate, originCode, orgCode, orgName)
			values (#{userId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
			#{custid,jdbcType=VARCHAR},
			#{pcustid,jdbcType=INTEGER}, #{custname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
			#{rankname,jdbcType=VARCHAR}, #{sumamt,jdbcType=DECIMAL},
			#{ipport,jdbcType=VARCHAR},
			#{lastlogin,jdbcType=TIMESTAMP}, #{sex,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
			#{rankid,jdbcType=INTEGER}, #{birthday,jdbcType=TIMESTAMP},
			#{phone,jdbcType=VARCHAR},
			#{nickname,jdbcType=VARCHAR}, #{useflg,jdbcType=INTEGER}, #{headPic,jdbcType=VARCHAR},
			#{custtype,jdbcType=INTEGER}, #{unionname,jdbcType=VARCHAR},
			#{provinceid,jdbcType=INTEGER},
			#{provincename,jdbcType=VARCHAR}, #{cityid,jdbcType=INTEGER}, #{cityname,jdbcType=VARCHAR},
			#{countyid,jdbcType=INTEGER}, #{countyname,jdbcType=VARCHAR},
			#{address,jdbcType=VARCHAR},
			#{qq,jdbcType=VARCHAR}, #{identitycard,jdbcType=VARCHAR}, #{maritalstatus,jdbcType=VARCHAR},
			#{monthlyincome,jdbcType=INTEGER}, #{paypwd,jdbcType=VARCHAR},
			#{recomPcustid,jdbcType=INTEGER},
			#{referee,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR}, #{externalNo,jdbcType=VARCHAR},
			#{registerChannel,jdbcType=INTEGER},
			#{apiCustomerRank,jdbcType=VARCHAR},
			#{offlinePcustid,jdbcType=VARCHAR},
			#{mallid,jdbcType=INTEGER},#{appName,jdbcType=VARCHAR},#{registerDate,jdbcType=TIMESTAMP},
			#{originCode,jdbcType=VARCHAR},#{orgCode,jdbcType=VARCHAR},#{orgName,jdbcType=VARCHAR})
		</if>
	</insert>
	
	<!-- 查询会员信息 -->
	<select id="selectMembers" parameterType="com.linjia.web.query.MemberQuery" resultType="com.linjia.web.model.QueryCustMaster">
		select 
			cm.user_id,cm.custname,head_pic,cm.creator,cm.email,cm.sex,cm.identityCard,cm.registerDate,cm.cardNo,cm.useFlg 
		from cust_master cm
		where 1=1
		<if test="phone !=null and phone !=''">
			and cm.creator like CONCAT(CONCAT('%',#{phone}),'%')
		</if>
		<if test="beginDate !=null and beginDate !=''">
			and cm.registerDate between date_format(#{beginDate}, '%Y-%m-%d 00:00:00') and date_format(#{endDate}, '%Y-%m-%d 23:59:59')
		</if>
		<if test="custName !=null and custName !=''">
			and cm.custname like CONCAT(CONCAT('%',#{custName}),'%')
		</if>
		<if test="custNo !=null and custNo !=''">
			and cm.cardNo like CONCAT(CONCAT('%',#{custNo}),'%')
		</if>
		order by cm.user_id
		<if test="exportFlag ==null">
			limit #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>
	
	<!-- 查询会员信息 -->
	<update id="updateMember" parameterType="Map">
		update
		<set>
		 <if test="useFlg !=null">
		 	useFlg=#{useFlg}
		 </if>
		<if test="deleted !=null">
		 	deleted=#{deleted}
		 </if>
		</set>
		where 1=1
		<if test="phone !=null ">
			cm.creator =#{phone}
		</if>
	</update>
	
	<!-- <update id="updateByExampleSelective" parameterType="map" > update 
		cust_master <set > <if test="userId != null" > user_id = #{userId,jdbcType=BIGINT}, 
		</if> <if test="creator != null" > creator = #{creator,jdbcType=VARCHAR}, 
		</if> <if test="custid != null" > custID = #{custid,jdbcType=VARCHAR}, </if> 
		<if test="pcustid != null" > pcustID = #{pcustid,jdbcType=INTEGER}, </if> 
		<if test="custname != null" > custname = #{custname,jdbcType=VARCHAR}, </if> 
		<if test="email != null" > email = #{email,jdbcType=VARCHAR}, </if> <if test="rankname 
		!= null" > rankName = #{rankname,jdbcType=VARCHAR}, </if> <if test="sumamt 
		!= null" > sumAmt = #{sumamt,jdbcType=DECIMAL}, </if> <if test="ipport != 
		null" > IPPort = #{ipport,jdbcType=VARCHAR}, </if> <if test="lastlogin != 
		null" > lastLogin = #{lastlogin,jdbcType=TIMESTAMP}, </if> <if test="sex 
		!= null" > sex = #{sex,jdbcType=VARCHAR}, </if> <if test="pwd != null" > 
		pwd = #{pwd,jdbcType=VARCHAR}, </if> <if test="rankid != null" > rankID = 
		#{rankid,jdbcType=INTEGER}, </if> <if test="birthday != null" > birthday 
		= #{birthday,jdbcType=TIMESTAMP}, </if> <if test="phone != null" > phone 
		= #{phone,jdbcType=VARCHAR}, </if> <if test="nickname != null" > nickName 
		= #{nickname,jdbcType=VARCHAR}, </if> <if test="useflg != null" > useFlg 
		= #{useflg,jdbcType=INTEGER}, </if> <if test="headPic != null" > head_pic 
		= #{headPic,jdbcType=VARCHAR}, </if> <if test="custtype != null" > custType 
		= #{custtype,jdbcType=INTEGER}, </if> <if test="unionname != null" > unionName 
		= #{unionname,jdbcType=VARCHAR}, </if> <if test="provinceid != null" > provinceid 
		= #{provinceid,jdbcType=INTEGER}, </if> <if test="provincename != null" > 
		provinceName = #{provincename,jdbcType=VARCHAR}, </if> <if test="cityid != 
		null" > cityid = #{cityid,jdbcType=INTEGER}, </if> <if test="cityname != 
		null" > cityName = #{cityname,jdbcType=VARCHAR}, </if> <if test="countyid 
		!= null" > countyid = #{countyid,jdbcType=INTEGER}, </if> <if test="countyname 
		!= null" > countyName = #{countyname,jdbcType=VARCHAR}, </if> <if test="address 
		!= null" > address = #{address,jdbcType=VARCHAR}, </if> <if test="qq != null" 
		> QQ = #{qq,jdbcType=VARCHAR}, </if> <if test="identitycard != null" > identityCard 
		= #{identitycard,jdbcType=VARCHAR}, </if> <if test="maritalstatus != null" 
		> maritalStatus = #{maritalstatus,jdbcType=VARCHAR}, </if> <if test="monthlyincome 
		!= null" > monthlyIncome = #{monthlyincome,jdbcType=INTEGER}, </if> <if test="paypwd 
		!= null" > payPwd = #{paypwd,jdbcType=VARCHAR}, </if> <if test="recomPcustid 
		!= null" > recom_pcustID = #{recomPcustid,jdbcType=INTEGER}, </if> <if test="referee 
		!= null" > referee = #{referee,jdbcType=VARCHAR}, </if> <if test="cardno 
		!= null" > cardNo = #{cardno,jdbcType=VARCHAR}, </if> <if test="externalNo 
		!= null" > external_no = #{externalNo,jdbcType=VARCHAR}, </if> <if test="registerChannel 
		!= null" > register_channel = #{registerChannel,jdbcType=INTEGER}, </if> 
		<if test="apiCustomerRank != null" > api_customer_rank = #{apiCustomerRank,jdbcType=VARCHAR}, 
		</if> <if test="offlinePcustid != null" > offline_pcustID = #{offlinePcustid,jdbcType=VARCHAR}, 
		</if> <if test="mallid != null" > mallID = #{mallid,jdbcType=INTEGER}, </if> 
		</set> </update> <update id="updateByExample" parameterType="map" > update 
		cust_master set user_id = #{userId,jdbcType=BIGINT}, creator = #{creator,jdbcType=VARCHAR}, 
		custID = #{custid,jdbcType=VARCHAR}, pcustID = #{pcustid,jdbcType=INTEGER}, 
		custname = #{custname,jdbcType=VARCHAR}, email = #{email,jdbcType=VARCHAR}, 
		rankName = #{rankname,jdbcType=VARCHAR}, sumAmt = #{sumamt,jdbcType=DECIMAL}, 
		IPPort = #{ipport,jdbcType=VARCHAR}, lastLogin = #{lastlogin,jdbcType=TIMESTAMP}, 
		sex = #{sex,jdbcType=VARCHAR}, pwd = #{pwd,jdbcType=VARCHAR}, rankID = #{rankid,jdbcType=SMALLINT}, 
		birthday = #{birthday,jdbcType=TIMESTAMP}, phone = #{phone,jdbcType=VARCHAR}, 
		nickName = #{nickname,jdbcType=VARCHAR}, useFlg = #{useflg,jdbcType=TINYINT}, 
		head_pic = #{headPic,jdbcType=VARCHAR}, custType = #{custtype,jdbcType=BIT}, 
		unionName = #{unionname,jdbcType=VARCHAR}, provinceid = #{provinceid,jdbcType=SMALLINT}, 
		provinceName = #{provincename,jdbcType=VARCHAR}, cityid = #{cityid,jdbcType=SMALLINT}, 
		cityName = #{cityname,jdbcType=VARCHAR}, countyid = #{countyid,jdbcType=SMALLINT}, 
		countyName = #{countyname,jdbcType=VARCHAR}, address = #{address,jdbcType=VARCHAR}, 
		QQ = #{qq,jdbcType=VARCHAR}, identityCard = #{identitycard,jdbcType=VARCHAR}, 
		maritalStatus = #{maritalstatus,jdbcType=BIT}, monthlyIncome = #{monthlyincome,jdbcType=BIT}, 
		payPwd = #{paypwd,jdbcType=VARCHAR}, recom_pcustID = #{recomPcustid,jdbcType=INTEGER}, 
		referee = #{referee,jdbcType=VARCHAR}, cardNo = #{cardno,jdbcType=VARCHAR}, 
		external_no = #{externalNo,jdbcType=VARCHAR}, register_channel = #{registerChannel,jdbcType=BIT}, 
		api_customer_rank = #{apiCustomerRank,jdbcType=VARCHAR}, offline_pcustID 
		= #{offlinePcustid,jdbcType=VARCHAR}, mallID = #{mallid,jdbcType=INTEGER} 
		</update> -->
		
	<!-- 查询门店数量 -->
   <select id="selectCustNums" parameterType="com.linjia.web.query.MemberQuery" resultType="Integer">
     select count(*)
		from cust_master cm
		where 1=1
		<if test="phone !=null and phone !=''">
			and cm.creator like CONCAT(CONCAT('%',#{phone}),'%')
		</if>
		<if test="beginDate !=null and beginDate !=''">
			and cm.registerDate between date_format(#{beginDate}, '%Y-%m-%d 00:00:00') and date_format(#{endDate}, '%Y-%m-%d 23:59:59')
		</if>
		<if test="custName !=null and custName !=''">
			and cm.custname like CONCAT(CONCAT('%',#{custName}),'%')
		</if>
		<if test="custNo !=null and custNo !=''">
			and cm.cardNo like CONCAT(CONCAT('%',#{custNo}),'%')
		</if>
  </select>
  
    <!-- 根据会员手机号查询userId -->
  	<select id="selectUserIdByPhone" resultType="java.util.Map" parameterType="list">
		select user_id,phone
		from cust_master
		where phone IN (
		<foreach collection="list" item="item" separator="," >
		#{item.userPhone}
		</foreach>
		)
	</select>
 
</mapper>