<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.linjia.web.dao.ElemeOrderGroupMapper">
	<!-- 缓存 -->  
   <!--  <cache eviction="LRU" type="com.linjia.core.feature.cache.MybatisRedisCache" />  -->
    
	<insert id="insertElemeOrderGroup" parameterType="com.linjia.web.thirdService.eleme.interfaces.entity.order.OGoodsGroup" useGeneratedKeys="true" keyProperty="id">
		insert into b_eleme_product_group(name,type,order_id,categoryId) 
		values(#{name},#{type},#{order_id},#{categoryId})
	</insert>
	
	<update id="updateElemeOrderGroup" parameterType="com.linjia.web.thirdService.eleme.interfaces.entity.order.OGoodsGroup">
		update b_eleme_product_group 
		<set>
			<if test="name !=null">
				name=#{name},
			</if>
			<if test="type !=null">
				type=#{type},
			</if>
		</set>
		where 1=1 and order_id=#{order_id} and categoryId=#{categoryId}
	</update>
	
	<delete id="deleteElemeOrderGroupById" parameterType="String">
		delete from b_eleme_product_group where order_id=#{orderId}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="selectElemeOrderGroupById" parameterType="com.linjia.web.query.OGoodsGroupQuery" resultType="com.linjia.web.thirdService.eleme.interfaces.entity.order.OGoodsGroup">
		select name,type,order_id,categoryId
		from b_eleme_product_group where categoryId=#{categoryId} and order_id=#{order_id} 
	</select>
	
	<select id="selectElemeOrderGroups" parameterType="com.linjia.web.query.OGoodsGroupQuery" resultType="com.linjia.web.thirdService.eleme.interfaces.entity.order.OGoodsGroup">
		select name,type,order_id,categoryId 
		from b_eleme_product_group
		where 1=1 
		<if test="categoryId !=null">
			categoryId=#{categoryId},
		</if>
		<if test="order_id !=null">
			order_id=#{order_id},
		</if>
	</select>
	
</mapper>