<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.linjia.web.dao.ElemeOrderProductMapper">
	<!-- 缓存 -->  
   <!--  <cache eviction="LRU" type="com.linjia.core.feature.cache.MybatisRedisCache" />  -->
    
	<insert id="insertElemeOrderProduct" parameterType="com.linjia.web.thirdService.eleme.interfaces.entity.order.OOrder" useGeneratedKeys="true" keyProperty="tid">
		insert into b_eleme_product(id,orderId,skuId,name,categoryId,price,quantity,total) 
		values(#{id},#{orderId},#{skuId},#{name},#{categoryId},#{price},#{quantity},#{total})
	</insert>
	
	<update id="updateElemeOrderProduct" parameterType="com.linjia.web.thirdService.eleme.interfaces.entity.order.OOrder">
		update b_eleme_product 
		<set>
			<if test="skuId !=null">
				skuId=#{skuId},
			</if>
			<if test="name !=null">
				name=#{name},
			</if>
			<if test="categoryId !=null">
				categoryId=#{categoryId},
			</if>
			<if test="price !=null">
				price=#{price},
			</if>
			<if test="quantity !=null">
				quantity=#{quantity},
			</if>
			<if test="total !=null">
				total=#{total},
			</if>
		</set>
		where id=#{id} and orderId=#{orderId}
	</update>
	
	<delete id="deleteElemeOrderProductById" parameterType="String">
		delete from b_eleme_product where id=#{id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="selectElemeOrderProductById" parameterType="String" resultType="com.linjia.web.thirdService.eleme.interfaces.entity.order.OOrder">
		select id,orderId,skuId,name,categoryId,price,quantity,total
		from b_eleme_product where id=#{id}
	</select>
	
	<select id="selectElemeOrderProducts" parameterType="com.linjia.web.query.OOrderQuery" resultType="com.linjia.web.thirdService.eleme.interfaces.entity.order.OOrder">
		select id,orderId,skuId,name,categoryId,price,quantity,total 
		from b_eleme_product
		where 1=1 
		<if test="categoryId !=null">
			categoryId=#{categoryId},
		</if>
		<if test="orderId !=null">
			orderId=#{orderId},
		</if>
	</select>
	
	<select id="selectElemeOrderGoods" parameterType="String" resultType="com.linjia.web.model.ThirdOrderProduct">
		select
			bep.id,
			bep.orderId,
			bep.skuId pCode,
			bep.name pName,
			bep.quantity,
			bep.price itemPrice,
			bep.total,
			CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bp.image_path) image_path
		from b_eleme_product bep left join b_product bp
		 on bep.skuId=bp.p_code where bep.orderId=#{orderId}
	</select>
	
</mapper>