<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.MiaoshaActivityProductMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.MiaoshaActivityProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shangou_base_id" property="shangouBaseId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="panic_buying_start_time" property="panicBuyingStartTime" jdbcType="TIMESTAMP" />
    <result column="panic_buying_end_time" property="panicBuyingEndTime" jdbcType="TIMESTAMP" />
    <result column="p_code" property="pCode" jdbcType="VARCHAR" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="p_comment" property="pComment" jdbcType="VARCHAR" />
    <result column="p_send_type" property="pSendType" jdbcType="INTEGER" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="p_unit" property="pUnit" jdbcType="VARCHAR" />
    <result column="pb_price" property="pbPrice" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="limit_quantity" property="limitQuantity" jdbcType="INTEGER" />
    <result column="panic_status" property="panicStatus" jdbcType="INTEGER" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
    <result column="detail_path" property="detailPath" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, shangou_base_id,product_id, panic_buying_start_time, panic_buying_end_time, p_code, p_name, p_comment,p_send_type,
    market_price, p_unit, pb_price, limit_quantity, panic_status, sort_index, CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',image_path) AS image_path, 
    detail_path
  </sql>
  <select id="selectAllByBaseId" resultMap="BaseResultMap" parameterType="com.linjia.web.query.MiaoshaActivityProductQuery" >
    select
    <include refid="Base_Column_List" />,
    quantity AS quantity
    from b_activity_shangou_product  
    where shangou_base_id =#{shangouBaseId} and deleted =0  
    order by sort_index DESC 
    limit #{startIndex},#{pageSize}
  </select>
  
  <select id="getPanicingProductByProductId" resultMap="BaseResultMap" parameterType="map" >
   SELECT 
   <include refid="Base_Column_List" /> 
   FROM `b_activity_shangou_product` 
   WHERE product_id = #{productId} 
   <![CDATA[
   AND panic_buying_start_time <= #{currentDate} AND panic_buying_end_time > #{currentDate}
   ]]> AND panic_status = 0
  </select>
  
  <!-- 秒杀新增商品 -->
  <insert id="insertSelective" parameterType="com.linjia.web.model.MiaoshaActivityProduct" useGeneratedKeys="true" keyProperty="id">
    insert into b_activity_shangou_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shangouBaseId != null">
        shangou_base_id,
      </if>
      <if test="panicBuyingStartTime != null">
        panic_buying_start_time,
      </if>
      <if test="panicBuyingEndTime != null">
        panic_buying_end_time,
      </if>
      <if test="pCode != null">
        p_code,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="pUnit != null">
        p_unit,
      </if>
      <if test="pbPrice != null">
        pb_price,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="limitQuantity != null">
        limit_quantity,
      </if>
      <if test="sortIndex != null">
        sort_index,
      </if>
      <if test="imagePath != null">
        image_path,
      </if>
      <if test="detailPath != null">
        detail_path,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="creDate != null">
        cre_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shangouBaseId != null">
        #{shangouBaseId,jdbcType=INTEGER},
      </if>
      <if test="panicBuyingStartTime != null">
        #{panicBuyingStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="panicBuyingEndTime != null">
        #{panicBuyingEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pCode != null">
        #{pCode,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="pUnit != null">
        #{pUnit,jdbcType=VARCHAR},
      </if>
      <if test="pbPrice != null">
        #{pbPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="limitQuantity != null">
        #{limitQuantity,jdbcType=INTEGER},
      </if>
      <if test="sortIndex != null">
        #{sortIndex,jdbcType=BIT},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="detailPath != null">
        #{detailPath,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="creDate != null">
        #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.MiaoshaActivityProduct" >
    update b_activity_shangou_product
    <set >
      <if test="panicBuyingStartTime != null" >
        panic_buying_start_time = #{panicBuyingStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="panicBuyingEndTime != null" >
        panic_buying_end_time = #{panicBuyingEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pCode != null" >
        p_code = #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="pUnit != null" >
        p_unit = #{pUnit,jdbcType=VARCHAR},
      </if>
      <if test="pbPrice != null" >
        pb_price = #{pbPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="limitQuantity != null" >
        limit_quantity = #{limitQuantity,jdbcType=INTEGER},
      </if>
      <if test="sortIndex != null" >
        sort_index = #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="imagePath != null" >
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="detailPath != null" >
        detail_path = #{detailPath,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
   	where id = #{id,jdbcType=INTEGER}
  </update>
  
   <!-- 删除活动记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update b_activity_shangou_product set deleted = true where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 根据baseId更新活动抢购时间 -->
  <update id="updatePanicBuyingTimeByBaseId" parameterType="map">
  	update b_activity_shangou_product
    set 
       panic_buying_start_time = #{panicBuyingStartTime,jdbcType=TIMESTAMP},
       panic_buying_end_time = #{panicBuyingEndTime,jdbcType=TIMESTAMP}
    where shangou_base_id = #{shangouBaseId,jdbcType=INTEGER}
  </update>
</mapper>