<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.OrderRefundMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.OrderRefund" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="order_group_id" property="orderGroupId" jdbcType="BIGINT" />
    <result column="return_no" property="returnNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="login_phone" property="loginPhone" jdbcType="VARCHAR" />
    <result column="refund_type" property="refundType" jdbcType="INTEGER" />
    <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
    <result column="return_balance" property="returnBalance" jdbcType="DECIMAL" />
    <result column="return_points" property="returnPoints" jdbcType="DECIMAL" />
    <result column="refund_source" property="refundSource" jdbcType="INTEGER" />
    <result column="refund_status" property="refundStatus" jdbcType="INTEGER" />
    <result column="confirmor" property="confirmor" jdbcType="VARCHAR" />
    <result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
    <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="refund_account" property="refundAccount" jdbcType="VARCHAR" />
    <result column="return_bank_name" property="returnBankName" jdbcType="VARCHAR" />
    <result column="refund_payee" property="refundPayee" jdbcType="VARCHAR" />
    <result column="refund_reason_id" property="refundReasonId" jdbcType="INTEGER" />
    <result column="refund_reason" property="refundReason" jdbcType="VARCHAR" />
    <result column="mall_id" property="mallId" jdbcType="INTEGER" />
    <result column="mall_code" property="mallCode" jdbcType="VARCHAR" />
    <result column="mall_name" property="mallName" jdbcType="VARCHAR" />
    <result column="refund_onlinepay_status" property="refundOnlinepayStatus" jdbcType="INTEGER" />
    <result column="serial_no" property="serialNo" jdbcType="VARCHAR" />
    <result column="pay_type_id" property="payTypeId" jdbcType="INTEGER" />
    <result column="pay_type_name" property="payTypeName" jdbcType="VARCHAR" />
    <result column="pay_code" property="payCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="refund_id" property="refundId" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="DATE" />
    <result column="order_type" property="order_type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_group_id, return_no, user_id, login_phone, refund_type, refund_amount, 
    return_balance, return_points, refund_source, refund_status, confirmor, confirm_time, 
    cancel_reason, mobile, refund_account, return_bank_name, refund_payee, refund_reason_id, 
    refund_reason, mall_id, mall_code, mall_name, refund_onlinepay_status, serial_no, 
    pay_type_id, pay_type_name, pay_code, remark, refund_id,create_time,send_price,benefit_price,order_price,order_type
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_order_refund
    where id = #{outRefundNo,jdbcType=BIGINT}
  </select>
  
  <insert id="insertSelective" parameterType="com.linjia.web.model.OrderRefund" >
    insert into b_order_refund
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderGroupId != null" >
        order_group_id,
      </if>
      <if test="returnNo != null" >
        return_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="loginPhone != null" >
        login_phone,
      </if>
      <if test="refundType != null" >
        refund_type,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="returnBalance != null" >
        return_balance,
      </if>
      <if test="returnPoints != null" >
        return_points,
      </if>
      <if test="refundSource != null" >
        refund_source,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="confirmor != null" >
        confirmor,
      </if>
      <if test="confirmTime != null" >
        confirm_time,
      </if>
      <if test="cancelReason != null" >
        cancel_reason,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="refundAccount != null" >
        refund_account,
      </if>
      <if test="returnBankName != null" >
        return_bank_name,
      </if>
      <if test="refundPayee != null" >
        refund_payee,
      </if>
      <if test="refundReasonId != null" >
        refund_reason_id,
      </if>
      <if test="refundReason != null" >
        refund_reason,
      </if>
      <if test="mallId != null" >
        mall_id,
      </if>
      <if test="mallCode != null" >
        mall_code,
      </if>
      <if test="mallName != null" >
        mall_name,
      </if>
      <if test="refundOnlinepayStatus != null" >
        refund_onlinepay_status,
      </if>
      <if test="serialNo != null" >
        serial_no,
      </if>
      <if test="payTypeId != null" >
        pay_type_id,
      </if>
      <if test="payTypeName != null" >
        pay_type_name,
      </if>
      <if test="payCode != null" >
        pay_code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="refundId != null" >
        refund_id,
      </if>
      <if test="refundId != null" >
        refund_id,
      </if>
      <if test="send_price != null" >
        send_price,
      </if>
      <if test="benefit_price != null" >
        benefit_price,
      </if>
      <if test="order_price != null" >
        order_price,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="order_type != null" >
        order_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderGroupId != null" >
        #{orderGroupId,jdbcType=BIGINT},
      </if>
      <if test="returnNo != null" >
        #{returnNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginPhone != null" >
        #{loginPhone,jdbcType=VARCHAR},
      </if>
      <if test="refundType != null" >
        #{refundType,jdbcType=BIT},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="returnBalance != null" >
        #{returnBalance,jdbcType=DECIMAL},
      </if>
      <if test="returnPoints != null" >
        #{returnPoints,jdbcType=DECIMAL},
      </if>
      <if test="refundSource != null" >
        #{refundSource,jdbcType=BIT},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus,jdbcType=BIT},
      </if>
      <if test="confirmor != null" >
        #{confirmor,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelReason != null" >
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="refundAccount != null" >
        #{refundAccount,jdbcType=VARCHAR},
      </if>
      <if test="returnBankName != null" >
        #{returnBankName,jdbcType=VARCHAR},
      </if>
      <if test="refundPayee != null" >
        #{refundPayee,jdbcType=VARCHAR},
      </if>
      <if test="refundReasonId != null" >
        #{refundReasonId,jdbcType=INTEGER},
      </if>
      <if test="refundReason != null" >
        #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="mallId != null" >
        #{mallId,jdbcType=INTEGER},
      </if>
      <if test="mallCode != null" >
        #{mallCode,jdbcType=VARCHAR},
      </if>
      <if test="mallName != null" >
        #{mallName,jdbcType=VARCHAR},
      </if>
      <if test="refundOnlinepayStatus != null" >
        #{refundOnlinepayStatus,jdbcType=BIT},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="payTypeId != null" >
        #{payTypeId,jdbcType=SMALLINT},
      </if>
      <if test="payTypeName != null" >
        #{payTypeName,jdbcType=VARCHAR},
      </if>
      <if test="payCode != null" >
        #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="refundId != null" >
        #{refundId,jdbcType=VARCHAR},
      </if>
      <if test="send_price != null" >
        #{send_price},
      </if>
      <if test="benefit_price != null" >
        #{benefit_price},
      </if>
      <if test="order_price != null" >
        #{order_price},
      </if>
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="order_type != null" >
        #{order_type},
      </if>
    </trim>
  </insert>
  
  <update id="updateRefundStatusById" parameterType="map" >
    update b_order_refund
        refund_onlinepay_status = #{refundOnlinepayStatus,jdbcType=INTEGER}
        <if test="refundId != null" >
        	refund_id = #{refundId,jdbcType=VARCHAR}
        </if>
    where id = #{outRefundNo,jdbcType=BIGINT}
  </update>
  
  <!-- 查询我的退款单 -->
  <select id="selectMyRefundOrderList" resultMap="BaseResultMap" parameterType="com.linjia.web.query.OrderRefundQuery" >
    select 
    <include refid="Base_Column_List" />
    from b_order_refund
    where user_id = #{userId,jdbcType=VARCHAR}
    order by id desc
    limit #{startIndex},#{pageSize}
  </select>
  
  <!-- 通过订单id查询订单 -->
    <select id="selectOneOrder" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from b_order_refund
    where refund_status !=3 and order_group_id = #{orderGroupId,jdbcType=BIGINT}
  </select>
</mapper>