<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.OrderidGenerateMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.OrderidGenerate" >
    <id column="id" property="id" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id
  </sql>
  
  <!-- 生成订单Id -->
  <insert id="insertSelective" parameterType="com.linjia.web.model.OrderidGenerate" useGeneratedKeys="true" keyProperty="id">
    insert into b_orderid_generate (id)
    values (0)
  </insert>
  
  <!-- 生成退款单Id -->
  <insert id="refundIdGenerate" parameterType="com.linjia.web.model.OrderidGenerate" useGeneratedKeys="true" keyProperty="id">
    insert into b_refundid_generate (id)
    values (0)
  </insert>
</mapper>