<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.linjia.web.dao.OrderQueryMapper">
	<!-- 缓存 -->  
   <!--  <cache eviction="LRU" type="com.linjia.core.feature.cache.MybatisRedisCache" />  -->
	<resultMap id="BdProductResultMap" type="com.linjia.web.model.ThirdOrderProduct">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="orderId" property="orderId" jdbcType="BIGINT" />
		<result column="product_id" property="pCode" jdbcType="VARCHAR" />
		<result column="product_name" property="pName" jdbcType="VARCHAR" />
		<result column="product_amount" property="quantity" jdbcType="INTEGER" />
		<result column="total_fee" property="itemPrice" jdbcType="DECIMAL" />
		<result column="image_path" property="imagePath" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="MtProductResultMap" type="com.linjia.web.model.ThirdOrderProduct">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="orderId" property="orderId" jdbcType="BIGINT" />
		<result column="app_food_code" property="pCode" jdbcType="VARCHAR" />
		<result column="food_name" property="pName" jdbcType="VARCHAR" />
		<result column="quantity" property="quantity" jdbcType="INTEGER" />
		<result column="price" property="itemPrice" jdbcType="DECIMAL" />
		<result column="box_num" property="box_num" jdbcType="INTEGER" />
		<result column="unit" property="unit" jdbcType="DECIMAL" />
		<result column="box_price" property="box_price" jdbcType="INTEGER" />
		<result column="food_discount" property="food_discount" jdbcType="DECIMAL" />
		<result column="image_path" property="imagePath" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="BaseResultMap" type="com.linjia.web.model.ScoreOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="score_product_id" property="scoreProductId" jdbcType="BIGINT" />
    <result column="card_coupon_id" property="cardCouponId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
    <result column="order_type" property="order_type" jdbcType="INTEGER" />
    <result column="custname" property="custname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="cardNo" property="cardNo" jdbcType="VARCHAR" />
  </resultMap>

	<!-- 总销售额统计-->
	<select id="selectSumAllSales" parameterType="com.linjia.web.query.OrderSerchQuery" resultType="com.linjia.web.model.OrderSerch">
		select id,shop_id,p_code,order_id,platform,mall_code,create_time
		from  b_product_lack 
		where order_id=#{order_id} 
		<if test="shop_id !=null">and shop_id=#{shop_id}</if> 
		<if test="p_code !=null">and p_code=#{p_code}</if> 
		order by create_time desc  
		<if test="exportFlag ==null">
		limit #{startIndex},#{pageSize}
		</if>
	</select>

	<!-- 根据订单Id查询订单详情 -->
	<select id="selectBdOrderProduct" parameterType="java.lang.Long"
		resultMap="BdProductResultMap">
		select
			bop.id,
			bop.orderId,
			bp.p_code,
			bop.product_name,
			bop.product_amount,
			ROUND(bop.total_fee/100,2) total_fee,
			CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bp.image_path) image_path
			from b_baidu_order_product bop left join b_product bp
		on bop.product_id=bp.p_code where bop.orderId=#{orderId}
	</select>
	
	<!-- 根据订单Id查询订单详情 -->
	<select id="selectMtOrderProduct" parameterType="java.lang.Long"
		resultMap="MtProductResultMap">
		select
			bop.id,
			bop.orderId,
			bop.app_food_code,
			bop.food_name,
			bop.quantity,
			ROUND(bop.price,2) price,
			bop.box_num,
			bop.box_price,
			bop.unit,
			bop.food_discount,
			CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bp.image_path) image_path
		from b_meituan_order_product bop left join b_product bp
		on bop.app_food_code=bp.p_code where bop.orderId=#{orderId}
	</select>
	
	<!-- 根据订单Id查询京东订单详情 -->
	<select id="selectJdOrderProduct" parameterType="java.lang.Long"
		resultType="com.linjia.web.model.ThirdOrderProduct">
		select
			bop.id,
			bop.orderId,
			bop.skuIdIsv AS pCode,
			bop.skuName AS pName,
			bop.skuCount AS quantity,
			ROUND(bop.skuJdPrice/100,2) itemPrice,
			CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bp.image_path) image_path
		from b_jddj_order_product bop left join b_product bp
		on bop.skuIdIsv=bp.p_code where bop.orderId=#{orderId}
	</select>
	
	<!-- 查询商城订单，美团订单，百度订单，京东到家订单列表 -->
	<select id="selectOrderlist" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="com.linjia.web.model.ThirdOrder">
		select 
			id,
			order_type,
			create_time,
			STATUS,
			receive_name,
			receive_phone,
			mall_code,
			mall_name,
			send_type,
			pay_type,
			pay_status,
			pay_time,
			total_price,
			send_price,
			real_price,
			benefit_price,
			add_score,
			orderSource
		from (
		<if test="queryLjSource !=null and queryLjSource !='' ">
			select
			id,
			1 AS order_type,
			mall_code,
			mall_name,
			receive_name,
			receive_phone,
			send_type,
			cre_date create_time,
			pay_time,
			pay_type,
			pay_status,
			total_price,
			send_price,
			real_price,
			preferential_price AS benefit_price,
			order_group_status STATUS,
			get_score AS add_score,
			'1' AS orderSource
			from b_order_group where 1=1
			<if test="receive_name !=null and receive_name !='' ">
				and receive_name like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and receive_phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and mall_code like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and mall_name like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="pay_status !=null">
				and pay_status=#{pay_status}
			</if>
			<if test="status !=null">
				and order_group_status=#{status}
			</if>
			<if test="orderStatusList !=null">
				and order_group_status in  
		        <foreach item="item" index="index" collection="orderStatusList" open="("  
		            separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>
			<if test="send_type !=null">
				  and send_type=#{send_type}
			</if>
			<if test="start_time !=null and start_time !=''">
				and cre_date between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		<if test="queryMtSource !=null and queryMtSource !='' ">
			<if test="ifAddUnion !=null and ifAddUnion !='' ">
				UNION ALL
			</if>
			select
			order_id id,
				2 AS order_type,
				app_poi_code mall_code,
				wm_poi_name mall_name,
				recipient_name receive_name,
				recipient_phone receive_phone,
				is_third_shipping send_type,
				FROM_UNIXTIME(ctime, '%Y-%m-%d %H:%i:%S') create_time,
				FROM_UNIXTIME(ctime, '%Y-%m-%d %H:%i:%S') pay_time,
				pay_type,
				pay_status,
				total real_price,
				shipping_fee send_price,
				original_price total_price,
				0 AS benefit_price,
				STATUS,
				0 AS add_score,
				'2' AS orderSource
			FROM b_meituan_order where 1=1
			<if test="receive_name !=null and receive_name !='' ">
				and recipient_name like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and order_id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and recipient_phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and app_poi_code like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and wm_poi_name like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="mtPatyStatus !=null and mtPatyStatus !=''">
				 and pay_status=#{mtPatyStatus}
			</if>
			<if test="mtOrderStatus !=null and mtOrderStatus !=''">
				  and status=#{mtOrderStatus}
			</if>
			<if test="mtOrderStatusList !=null and mtOrderStatusList !='' ">
				and status in  
		        <foreach item="item" index="index" collection="mtOrderStatusList" open="("  separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>
			<if test="mtSend_type !=null and mtSend_type !='' ">
				  and is_third_shipping=#{mtSend_type}
			</if>
			<if test="start_time !=null and start_time !=''">
				and FROM_UNIXTIME(ctime, '%Y-%m-%d %H:%i:%S') between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		<if test="queryBdSource !=null and queryBdSource !='' ">
			<if test="ifAddUnion !=null and ifAddUnion !='' ">
				UNION ALL
			</if>
			select
			order_id id,
			3 AS order_type,
			shop_id mall_code,
			shop_name mall_name,
			user_name receive_name,
			user_phone receive_phone,
			order_delivery_party send_type,
			FROM_UNIXTIME(order_create_time,'%Y-%m-%d %H:%i:%S') create_time,
			FROM_UNIXTIME(order_create_time,'%Y-%m-%d %H:%i:%S') pay_time,
			order_pay_type pay_type,
			order_pay_status pay_status,
			ROUND(order_total_fee / 100, 2) total_price,
			ROUND(order_send_fee / 100, 2) send_price,
			ROUND(order_user_fee / 100, 2) real_price,
			0 AS benefit_price,
			STATUS,
			0 AS add_score,
			'3' AS orderSource
		from b_baidu_order where 1=1
		<if test="receive_name !=null and receive_name !='' ">
				and user_name like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and order_id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and user_phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and shop_id like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and shop_name like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="bdOrderStatus !=null and bdOrderStatus !='' ">
				and status=#{bdOrderStatus}
			</if>
			<if test="bdOrderStatusList !=null and bdOrderStatusList !='' ">
				and status in  
		        <foreach item="item" index="index" collection="bdOrderStatusList" open="("  
		            separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>
			<if test="bdPatyStatus !=null and bdPatyStatus !=''">
					 and order_pay_status=#{bdPatyStatus}
			</if>	
			<if test="bdSend_type !=null and bdSend_type !=''">
				  and order_delivery_party=#{bdSend_type}
			</if>
			<if test="start_time !=null and start_time !=''">
				and FROM_UNIXTIME(order_create_time, '%Y-%m-%d %H:%i:%S') between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		<!-- 查询京东订单 -->
		<if test="queryJdSource !=null and queryJdSource !='' ">
		<if test="ifAddUnion !=null and ifAddUnion !='' ">
				UNION ALL
			</if>
			select
			orderId AS id,
			4 AS order_type,
			produceStationNoIsv AS mall_code,
			produceStationName AS mall_name,
			buyerFullName AS receive_name,
			buyerMobile AS receive_phone,
			send_type,
			orderStartTime AS create_time,
			orderPurchaseTime AS pay_time,
			orderPayType AS pay_type,
			1 AS pay_status,
			ROUND(orderTotalMoney/100,2) AS total_price,
			ROUND(orderFreightMoney/100,2) AS send_price,
			ROUND((orderBuyerPayableMoney-packagingMoney)/100,2) AS real_price,
			ROUND(orderDiscountMoney/100,2) AS benefit_price,
			orderStatus STATUS,
			0 AS add_score,
			'4' AS orderSource
			from b_jddj_order where 1=1
			<if test="receive_name !=null and receive_name !='' ">
				and buyerFullName like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and orderId like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and buyerMobile like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and produceStationNoIsv like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and produceStationName like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="pay_status !=null">
				and 1=#{pay_status}
			</if>
			<if test="jdOrderStatus !=null">
				and orderStatus=#{jdOrderStatus}
			</if>
			<if test="jdOrderStatusList !=null">
				and orderStatus in  
		        <foreach item="item" index="index" collection="jdOrderStatusList" open="("  
		            separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>
			<if test="send_type !=null">
				  and send_type=#{send_type}
			</if>
			<if test="start_time !=null and start_time !=''">
				and orderStartTime between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		<if test="queryElemeSource !=null and queryElemeSource !='' ">
			<if test="ifAddUnion !=null and ifAddUnion !='' ">
				UNION ALL
			</if>
			select
			id,
			6 AS order_type,
			shopId mall_code,
			shopName mall_name,
			consignee receive_name,
			phoneList receive_phone,
			'0' as  send_type,
			createdAt create_time,
			activeAt pay_time,
			'1' as pay_type,
			'2' pay_status,
			originalPrice total_price,
			deliverFee send_price,
			totalPrice real_price,
			(originalPrice-totalPrice) as benefit_price,
			order_status status,
			0 AS add_score,
			'6' AS orderSource
		from b_eleme_order where 1=1
			<if test="receive_name !=null and receive_name !='' ">
				and consignee like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="pay_status !=null">
				and 1=#{pay_status}
			</if>
			<if test="send_type !=null">
				  and 0=#{send_type}
			</if>
			<if test="order_id !=null and order_id !='' ">
				and id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and phoneList like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and shopId like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and shopName like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="elemeOrderStatus !=null and elemeOrderStatus !='' ">
				and order_status=#{elemeOrderStatus}
			</if>
			<if test="elemeExcludeStatus !=null and elemeExcludeStatus !='' ">
				and order_status <![CDATA[ <> ]]> 1 and order_status <![CDATA[ <> ]]> 7 and order_status <![CDATA[ <> ]]> 8
			</if>
			<if test="elemeOrderStatusList !=null and elemeOrderStatusList !='' ">
				and order_status in  
		        <foreach item="item" index="index" collection="elemeOrderStatusList" open="("  
		            separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>	
			<if test="start_time !=null and start_time !=''">
				and createdAt between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		)tab
		order by tab.create_time desc
		<if test="exportFlag ==null">
        	LIMIT #{startIndex},#{pageSize}
        </if>
	</select>
	
	<!-- 查询积分订单列表 -->
	<select id="selectScoreOrderlist" parameterType="com.linjia.web.query.ThirdLogisOrderQuery" resultMap="BaseResultMap">
		 select 
		    bso.id, 
			bso.cre_date,
			bso.order_status,
			1 as order_type,
			cm.custname,
			cm.phone,
			cm.address,
			cm.cardNo,
			bso.name, 
			bso.pay_type, 
			bso.price, 
			bso.quantity, 
			bso.type, 
			bso.score,
			bso.comment,
			bso.card_coupon_id
		from b_score_order bso 
		LEFT JOIN cust_master cm on cm.user_id=bso.user_id
		where  1=1
			<if test="receive_name !=null and receive_name !='' ">
				and cm.custname like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and bso.id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and cm.phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="status !=null and status !=''">
				and bso.order_status=#{status}
			</if>
			<if test="start_time !=null and start_time !=''">
				and bso.cre_date between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		order by bso.cre_date desc
		<if test="exportFlag ==null">
        LIMIT #{startIndex},#{pageSize}
        </if>
	</select>
	
	<!-- 查询拼团订单列表 -->
	<select id="selectPinTuanOrderlist" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="com.linjia.web.model.PinTuanOrder">
		select 
			bakm.id teamId,
			bpo.order_id,
			bpo.cre_date,
			bpo.status,
			bpo.pay_status,
			bakm.state  pt_status,
			1 as order_type,
			bakm.cur_num ptp_nums,
			cm.cardNo,
			ba.receive_name custname,
			ba.phone,
			ba.detail_address address,
			NULL as mall_code,
			NULL as mall_name,
			1 as send_type,
			bpo.third_logistics_no,
			bpo.third_logistics_name,
			bpo.send_time,
			bpo.pay_type,
			bpo.pay_time,
			bpo.price,
			bakm.baseId product_id,
			bpo.real_price,
			bpo.send_fee,
			FORMAT((bpo.onebuy_price-bpo.price),2) as benefit_price,
			bpo.add_score,
			bpo.pt_base_id,
			bpo.quanty,
			bpo.p_name
		from b_pintuan_order bpo
		left join b_activity_kaituan_users baku on baku.orderId=bpo.order_id
		left join b_activity_kaituan_main bakm on bakm.id=baku.kt_id
		left JOIN cust_master cm on cm.user_id=bpo.user_id
		left JOIN b_address ba on ba.id=bpo.address_id
		where  1=1
		<if test="status !=null and status !='' ">
				and bpo.status=#{status} 
		</if>
		<if test="pay_status !=null and pay_status !='' ">
				and bpo.pay_status=#{pay_status} 
		</if>
		<if test="ptStatus !=null">
				and bakm.state=#{ptStatus} 
		</if>
		<if test="receive_name !=null and receive_name !='' ">
				and ba.receive_name like CONCAT(CONCAT('%',#{receive_name}),'%')
		</if>
		<if test="order_id !=null and order_id !='' ">
				and bpo.order_id like CONCAT(CONCAT('%',#{order_id}),'%')
		</if>
		<if test="receive_phone !=null and receive_phone !='' ">
				and cm.phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
		</if>
		<if test="start_time !=null and start_time !=''">
			and bpo.cre_date between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
		</if>
		order by bpo.cre_date desc
		<if test="exportFlag ==null">
        LIMIT #{startIndex},#{pageSize}
        </if>
	</select>
	
	<!-- 查询退款订单列表 -->
	<select id="selectRefundOrderlist" parameterType="com.linjia.web.query.OrderRefundManageQuery"
		resultType="com.linjia.web.model.OrderRefundManage">
		select 
			bor.id,
			bor.order_group_id,
			bor.serial_no,
			bor.refund_onlinepay_status,
			bor.create_time,
			bor.confirm_time,
			cm.custname,
			cm.phone custphone,
			bor.mall_code,
			bor.mall_name,
			bor.refund_type,
			bor.refund_amount,
			bor.return_points,
			bor.create_time,
			bor.refund_source,
			bor.pay_type_name,
			bor.refund_reason,
			bor.send_price,
			bor.benefit_price,
			bor.user_id,
			bor.order_type,
			bor.refund_status
		from b_order_refund bor
		left JOIN cust_master cm
		on cm.user_id=bor.user_id
		where  1=1 and bor.refund_status !=3 
		<if test="id !=null and id !='' ">
			and bor.id like CONCAT(CONCAT('%',#{id}),'%')
		</if>
		<if test="order_group_id !=null and order_group_id !='' ">
			and bor.order_group_id like CONCAT(CONCAT('%',#{order_group_id}),'%')
		</if>
		<if test="mall_name !=null and mall_name !='' ">
			and bor.mall_name like CONCAT(CONCAT('%',#{mall_name}),'%')
		</if>
		<if test="mall_code !=null and mall_code !='' ">
			and bor.mall_code like CONCAT(CONCAT('%',#{mall_code}),'%')
		</if>
		<if test="refund_onlinepay_status !=null and refund_onlinepay_status !='' ">
			and bor.refund_onlinepay_status like CONCAT(CONCAT('%',#{refund_onlinepay_status}),'%')
		</if>
		<if test="refund_type !=null and refund_type !='' ">
				and bor.refund_type=#{refund_type} 
		</if>
		<if test="start_time !=null and start_time !=''">
			and bor.create_time between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
		</if>
		order by bor.create_time desc
	 	<if test="exportFlag ==null">
        LIMIT #{startIndex},#{pageSize}
        </if>
	</select>
	
	<!-- 查询邻家订单详情 -->
	<select id="selectMyOrder" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="com.linjia.web.model.ThirdOrder">
		select
			id ,
			mall_code ,
			mall_name,
			receive_name,
			receive_phone,
			receive_address,
			send_type,
			cre_date create_time,
			send_date,
			send_hour,
			pay_type,
			pay_status,
			user_id,
			total_price,
			send_price,
			real_price,
			order_group_status  status,
			cancelReason,
			end_time recive_time,
			'1' as orderSource
			from b_order_group where 1=1
			<if test="mall_code!=null and mall_code !='' ">
				and mall_code =#{mall_code}
			</if>
			<if test="order_id !=null and order_id !=''">
				 and id=#{order_id}
			</if>
	</select>
	
	<!-- 查询百度订单详情 -->
	<select id="selectBdOrder" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="com.linjia.web.model.ThirdOrder">
		select
			order_id id,
			shop_id mall_code,
			shop_name mall_name,
			user_name receive_name,
			user_phone receive_phone,
			user_address receive_address,
			order_delivery_party send_type,
			FROM_UNIXTIME(order_create_time, '%Y-%m-%d %H:%i:%S') create_time,
			case when order_send_time=1 then SYSDATE()
				 else  FROM_UNIXTIME(order_send_time) end send_date,
			0 as send_hour,
			order_pay_type pay_type, 
			ROUND(order_total_fee/100,2) total_price, 
			ROUND(order_send_fee/100,2) send_price,
			ROUND(order_user_fee/100,2) real_price,
			status,
			cancelReason,
			recive_time,
			'3' as orderSource
		from b_baidu_order where 1=1
			 <if test="shop_id !=null and shop_id !='' ">
				and shop_id=#{shop_id} 
			 </if>
			<if test="order_id !=null and order_id !=''">
				 and order_id=#{order_id}
			</if>
	</select>
			
	<!-- 查询美团订单详情 -->
	<select id="selectMtOrder" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="com.linjia.web.model.ThirdOrder">
		select
			order_id id,
			app_poi_code mall_code,
			wm_poi_name mall_name,
			recipient_name receive_name,
			recipient_phone receive_phone,
			recipient_address receive_address,
			is_third_shipping send_type,
			FROM_UNIXTIME(ctime, '%Y-%m-%d %H:%i:%S') create_time,
			case when delivery_time=0 then SYSDATE()
				 else  FROM_UNIXTIME(delivery_time) end send_date,
			0 as send_hour,
			pay_type, 
			total real_price,
			shipping_fee send_price,
			original_price total_price,
			status,
			cancelReason,
			recive_time,
			'2' as orderSource
			FROM b_meituan_order where 1=1
			<if test="app_poi_code !=null and app_poi_code !='' ">
				and app_poi_code=#{app_poi_code} 
			</if>
			<if test="order_id !=null and order_id !=''">
				 and order_id=#{order_id}
			</if>
	</select>
	
	<!-- 查询京东订单详情 -->
	<select id="selectJdOrder" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="com.linjia.web.model.ThirdOrder">
		select
			orderId id,
			produceStationNoIsv mall_code,
			produceStationName mall_name,
			buyerFullName receive_name,
			buyerMobile receive_phone,
			buyerFullAddress receive_address,
			send_type,
			orderStartTime create_time,
			DATE_FORMAT(orderPreStartDeliveryTime,'%Y-%m-%d') AS send_date,
			date_format(orderPreStartDeliveryTime,'%H:%i') AS send_hour,
			'4' AS pay_type, 
			ROUND((orderBuyerPayableMoney-packagingMoney)/100,2) AS real_price,
			ROUND(orderFreightMoney/100,2) AS send_price,
			ROUND(orderTotalMoney/100,2) AS total_price,
			ROUND(orderDiscountMoney/100,2) AS benefit_price,
			orderStatus AS status,
			orderCancelRemark AS cancelReason,
			deliveryConfirmTime AS recive_time,
			'4' as orderSource
			FROM b_jddj_order where 1=1
			<if test="produceStationNoIsv !=null and produceStationNoIsv !='' ">
				and produceStationNoIsv=#{produceStationNoIsv} 
			</if>
			<if test="order_id !=null and order_id !=''">
				 and orderId=#{order_id}
			</if>
	</select>
	
	<!-- 查询邻家商品详情 -->
	<select id="selectMyOrderDetail" parameterType="java.lang.Long"
		resultType="com.linjia.web.model.ThirdOrderProduct">
		select 
			bgp.id,
			bgp.group_id orderId,
			bgp.p_code pCode,
			bgp.p_name pName,
			bgp.quantity,
			bgp.item_price itemPrice,
			CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bp.image_path) AS imagePath
 		from b_order_group_product bgp,b_product bp
		where bgp.p_code=bp.p_code and bgp.group_id=#{order_id}
	</select>
	
	<!-- 根据id查物流信息-->
	<select id="selectLogisticsById" parameterType="com.linjia.web.query.LogisticsQuery" resultType="com.linjia.web.model.Logistics">
		select id,order_id,order_status,dm_id,cancel_reason,dm_name,dm_mobile,update_time,action_type,reason_id,mall_code,order_source,outer_id,fee,distance,logis_type,
		create_time,send_time,recieve_time,finish_time
		from  b_logistic_info where deleted=0 
		<if test="order_id !=null">
			and order_id=#{order_id}
		</if>
		<if test="outer_id !=null">
			and outer_id=#{outer_id}
		</if>
	</select>
	
	<!-- 查询积分订单详情-->
	<select id="selectScoreOrderProduct" parameterType="java.lang.Long" resultType="com.linjia.web.model.ScoreOrderProduct">
		 select 
			ccp.card_coupon_id, 
			bsp.p_code,
			1 as quantity,
			bsp.name p_name,
			bsp.market_price,
			bsp.sale_price,
			0 as score
		from card_coupon_product ccp
		LEFT JOIN b_product bsp on bsp.p_code=ccp.p_code
		where ccp.card_coupon_id=#{card_coupon_id}
	</select>
	
	<!-- 查询商城订单，美团订单，百度订单，京东订单，饿了么列表总数 -->
	<select id="selectOrderNum" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="java.lang.Integer">
		select 
			 count(*)
		from (
		<if test="queryLjSource !=null and queryLjSource !='' ">
			select
			id,
			1 AS order_type,
			mall_code,
			mall_name,
			receive_name,
			receive_phone,
			send_type,
			cre_date create_time,
			pay_time,
			pay_type,
			total_price,
			send_price,
			real_price,
			order_group_status STATUS,
			get_score AS add_score,
			'1' AS orderSource
			from b_order_group where 1=1
			<if test="receive_name !=null and receive_name !='' ">
				and receive_name like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and receive_phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and mall_code like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and mall_name like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="pay_status !=null and pay_status !=''">
				and pay_status=#{pay_status}
			</if>
			<if test="status !=null and status !='' ">
				and order_group_status=#{status}
			</if>
			<if test="orderStatusList !=null">
				and order_group_status in  
		        <foreach item="item" index="index" collection="orderStatusList" open="("  
		            separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>
			<if test="send_type !=null and send_type !=''">
				  and send_type=#{send_type}
			</if>
			<if test="start_time !=null and start_time !=''">
				and cre_date between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		<if test="queryMtSource !=null and queryMtSource !='' ">
			<if test="ifAddUnion !=null and ifAddUnion !='' ">
				UNION ALL
			</if>
			select
			order_id id,
				2 AS order_type,
				app_poi_code mall_code,
				wm_poi_name mall_name,
				recipient_name receive_name,
				recipient_phone receive_phone,
				is_third_shipping send_type,
				FROM_UNIXTIME(ctime, '%Y-%m-%d %H:%i:%S') create_time,
				FROM_UNIXTIME(ctime, '%Y-%m-%d %H:%i:%S') pay_time,
				pay_type,
				total real_price,
				shipping_fee send_price,
				original_price total_price,
				STATUS,
				0 AS add_score,
				'2' AS orderSource
			FROM b_meituan_order where 1=1
			<if test="receive_name !=null and receive_name !='' ">
				and recipient_name like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and order_id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and recipient_phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and app_poi_code like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and wm_poi_name like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="mtPatyStatus !=null and mtPatyStatus !=''">
				 and pay_status=#{mtPatyStatus}
			</if>
			<if test="mtOrderStatus !=null and mtOrderStatus !=''">
				  and status=#{mtOrderStatus}
			</if>
			<if test="mtOrderStatusList !=null and mtOrderStatusList !='' ">
				and status in  
		        <foreach item="item" index="index" collection="mtOrderStatusList" open="("  separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>
			<if test="mtSend_type !=null and mtSend_type !=''">
				  and is_third_shipping=#{mtSend_type}
			</if>
			<if test="start_time !=null and start_time !=''">
				and FROM_UNIXTIME(ctime, '%Y-%m-%d %H:%i:%S') between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		<if test="queryBdSource !=null and queryBdSource !='' ">
			<if test="ifAddUnion !=null and ifAddUnion !='' ">
				UNION ALL
			</if>
			select
			order_id id,
			3 AS order_type,
			shop_id mall_code,
			shop_name mall_name,
			user_name receive_name,
			user_phone receive_phone,
			order_delivery_party send_type,
			FROM_UNIXTIME(order_create_time,'%Y-%m-%d %H:%i:%S') create_time,
			FROM_UNIXTIME(order_create_time,'%Y-%m-%d %H:%i:%S') pay_time,
			order_pay_type pay_type,
			ROUND(order_total_fee / 100, 2) total_price,
			ROUND(order_send_fee / 100, 2) send_price,
			ROUND(order_user_fee / 100, 2) real_price,
			STATUS,
			0 AS add_score,
			'3' AS orderSource
		from b_baidu_order where 1=1
		<if test="receive_name !=null and receive_name !='' ">
				and user_name like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and order_id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and user_phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and shop_id like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and shop_name like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="bdOrderStatus !=null and bdOrderStatus !='' ">
				and status=#{bdOrderStatus}
			</if>
			<if test="bdOrderStatusList !=null and bdOrderStatusList !='' ">
				and status in  
		        <foreach item="item" index="index" collection="bdOrderStatusList" open="("  
		            separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>
			<if test="bdPatyStatus !=null and bdPatyStatus !=''">
					 and order_pay_status=#{bdPatyStatus}
			</if>	
			<if test="bdSend_type !=null and bdSend_type !=''">
				  and order_delivery_party=#{bdSend_type}
			</if>
			<if test="start_time !=null and start_time !=''">
				and FROM_UNIXTIME(order_create_time, '%Y-%m-%d %H:%i:%S') between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		<!-- 查询京东订单 -->
		<if test="queryJdSource !=null and queryJdSource !='' ">
		<if test="ifAddUnion !=null and ifAddUnion !='' ">
				UNION ALL
			</if>
			select
			orderId AS id,
			4 AS order_type,
			produceStationNoIsv AS mall_code,
			produceStationName AS mall_name,
			buyerFullName AS receive_name,
			buyerMobile AS receive_phone,
			send_type,
			orderStartTime AS create_time,
			orderPurchaseTime AS pay_time,
			orderPayType AS pay_type,
			ROUND(orderTotalMoney/100,2) AS total_price,
			ROUND(orderFreightMoney/100,2) AS send_price,
			ROUND((orderBuyerPayableMoney-packagingMoney)/100,2) AS real_price,
			orderStatus STATUS,
			0 AS add_score,
			'4' AS orderSource
			from b_jddj_order where 1=1
			<if test="receive_name !=null and receive_name !='' ">
				and buyerFullName like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and orderId like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and buyerMobile like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and produceStationNoIsv like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and produceStationName like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="pay_status !=null">
				and 1=#{pay_status}
			</if>
			<if test="jdOrderStatus !=null">
				and orderStatus=#{jdOrderStatus}
			</if>
			<if test="jdOrderStatusList !=null">
				and orderStatus in  
		        <foreach item="item" index="index" collection="jdOrderStatusList" open="("  
		            separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>
			<if test="send_type !=null">
				  and send_type=#{send_type}
			</if>
			<if test="start_time !=null and start_time !=''">
				and orderStartTime between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		<if test="queryElemeSource !=null and queryElemeSource !='' ">
			<if test="ifAddUnion !=null and ifAddUnion !='' ">
				UNION ALL
			</if>
			select
			id,
			6 AS order_type,
			shopId mall_code,
			shopName mall_name,
			consignee receive_name,
			phoneList receive_phone,
			'0' as  send_type,
			createdAt create_time,
			activeAt pay_time,
			'1' as pay_type,
			originalPrice total_price,
			deliverFee send_price,
			totalPrice real_price,
			order_status status,
			0 AS add_score,
			'6' AS orderSource
		from b_eleme_order where 1=1
			<if test="receive_name !=null and receive_name !='' ">
				and consignee like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="pay_status !=null">
				and 1=#{pay_status}
			</if>
			<if test="send_type !=null">
				  and 0=#{send_type}
			</if>
			<if test="order_id !=null and order_id !='' ">
				and id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and phoneList like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="mall_code !=null and mall_code !='' ">
				and shopId like CONCAT(CONCAT('%',#{mall_code}),'%')
			</if>
			<if test="mall_name !=null and mall_name !='' ">
				and shopName like CONCAT(CONCAT('%',#{mall_name}),'%')
			</if>
			<if test="elemeOrderStatus !=null and elemeOrderStatus !='' ">
				and order_status=#{elemeOrderStatus}
			</if>
			<if test="elemeExcludeStatus !=null and elemeExcludeStatus !='' ">
				and order_status &gt; 1 and order_status &lt; 12 
			</if>
			<if test="elemeOrderStatusList !=null and elemeOrderStatusList !='' ">
				and order_status in  
		        <foreach item="item" index="index" collection="elemeOrderStatusList" open="("  
		            separator="," close=")">  
		            #{item}  
		        </foreach>  
			</if>	
			<if test="start_time !=null and start_time !=''">
				and createdAt between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
		</if>
		)tab
	</select>
	
	<!-- 查询积分订单列表总数 -->
	<select id="selectScoreOrderNum" parameterType="com.linjia.web.query.ThirdLogisOrderQuery" resultType="java.lang.Integer">
		 select 
		   count(*)
		from b_score_order bso 
		LEFT JOIN cust_master cm on cm.user_id=bso.user_id
		where  1=1
			<if test="receive_name !=null and receive_name !='' ">
				and cm.custname like CONCAT(CONCAT('%',#{receive_name}),'%')
			</if>
			<if test="order_id !=null and order_id !='' ">
				and bso.id like CONCAT(CONCAT('%',#{order_id}),'%')
			</if>
			<if test="receive_phone !=null and receive_phone !='' ">
				and cm.phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
			</if>
			<if test="status !=null and status !=''">
				and bso.order_status=#{status}
			</if>
			<if test="start_time !=null and start_time !=''">
				and bso.cre_date between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
			</if>
	</select>
	
	<!-- 查询拼团订单列表总数 -->
	<select id="selectPinTuanOrderNum" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="java.lang.Integer">
		select 
			 count(*)
		from b_pintuan_order bpo
		left join b_activity_kaituan_users baku on baku.orderId=bpo.order_id
		left join b_activity_kaituan_main bakm on bakm.id=baku.kt_id
		left JOIN cust_master cm on cm.user_id=bpo.user_id
		left JOIN b_address ba on ba.id=bpo.address_id
		where  1=1
		<if test="status !=null and status !='' ">
				and bpo.status=#{status} 
		</if>
		<if test="pay_status !=null and pay_status !='' ">
				and bpo.pay_status=#{pay_status} 
		</if>
		<if test="ptStatus !=null">
				and bakm.state=#{ptStatus} 
		</if>
		<if test="receive_name !=null and receive_name !='' ">
				and ba.receive_name like CONCAT(CONCAT('%',#{receive_name}),'%')
		</if>
		<if test="order_id !=null and order_id !='' ">
				and bpo.order_id like CONCAT(CONCAT('%',#{order_id}),'%')
		</if>
		<if test="receive_phone !=null and receive_phone !='' ">
				and cm.phone like CONCAT(CONCAT('%',#{receive_phone}),'%')
		</if>
		<if test="start_time !=null and start_time !=''">
			and bpo.cre_date between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
		</if>
	</select>
	
	<!-- 查询退款订单列表 -->
	<select id="selectRefundOrderNum" parameterType="com.linjia.web.query.OrderRefundManageQuery"
		resultType="java.lang.Integer">
		select 
			 count(*)
		from b_order_refund bor
		left JOIN cust_master cm
		on cm.user_id=bor.user_id
		where  1=1 and bor.refund_status !=3 
		<if test="id !=null and id !='' ">
			and bor.id like CONCAT(CONCAT('%',#{id}),'%')
		</if>
		<if test="order_group_id !=null and order_group_id !='' ">
			and bor.order_group_id like CONCAT(CONCAT('%',#{order_group_id}),'%')
		</if>
		<if test="mall_name !=null and mall_name !='' ">
			and bor.mall_name like CONCAT(CONCAT('%',#{mall_name}),'%')
		</if>
		<if test="mall_code !=null and mall_code !='' ">
			and bor.mall_code like CONCAT(CONCAT('%',#{mall_code}),'%')
		</if>
		<if test="refund_onlinepay_status !=null and refund_onlinepay_status !='' ">
			and bor.refund_onlinepay_status like CONCAT(CONCAT('%',#{refund_onlinepay_status}),'%')
		</if>
		<if test="refund_type !=null and refund_type !='' ">
				and bor.refund_type=#{refund_type} 
		</if>
		<if test="start_time !=null and start_time !=''">
			and bor.create_time between date_format(#{start_time}, '%Y-%m-%d %H:%i:%S') and date_format(#{end_time}, '%Y-%m-%d %H:%i:%S')
		</if>
	</select>
	
	<!-- 查询拼团订单详情-->
	<select id="selectPinTuanOrder" parameterType="long"
		resultType="com.linjia.web.model.PinTuanOrder">
		select 
			bpo.order_id,
			bpo.cre_date,
			bpo.status,
			bpo.pay_status,
			bpo.user_id,
			bakm.state  pt_status,
			1 as order_type,
			bakm.cur_num ptp_nums,
			cm.cardNo,
			ba.receive_name custname,
			ba.phone,
			ba.detail_address address,
			NULL as mall_code,
			NULL as mall_name,
			1 as send_type,
			bpo.third_logistics_no,
			bpo.pay_type,
			bpo.pay_time,
			bpo.price,
			bakm.baseId product_id,
			bpo.real_price,
			bpo.send_fee,
			ROUND((bpo.onebuy_price-bpo.price),2) as benefit_price,
			bpo.add_score,
			bpo.pt_base_id
		from b_pintuan_order bpo
		left join b_activity_kaituan_users baku on baku.orderId=bpo.order_id
		left join b_activity_kaituan_main bakm on bakm.id=baku.kt_id
		left JOIN cust_master cm on cm.user_id=bpo.user_id
		left JOIN b_address ba on ba.id=bpo.address_id
		where  1=1
		<if test="status !=null and status !='' ">
				and bpo.status=#{status} 
		</if>
		<if test="pay_status !=null and pay_status !='' ">
				and bpo.pay_status=#{pay_status} 
		</if>
		<if test="ptStatus !=null">
				and bakm.state=#{ptStatus} 
		</if>
		<if test="order_id !=null and order_id !='' ">
				and bpo.order_id =#{order_id}
		</if>
		<if test="receive_phone !=null and receive_phone !='' ">
				and cm.phone =#{receive_phone}
		</if>
	</select>
	
	<!-- 查询单条团购订单信息 -->
	<select id="selectPtOrder" parameterType="long" resultType="com.linjia.web.model.ThirdOrder">
		select
			bpo.order_id id ,
			ba.receive_name,
			ba.phone receive_phone,
			concat(ba.region,ba.detail_address) receive_address,
			bpo.cre_date create_time,
			bpo.pay_type,
			bpo.user_id,
			bpo.price total_price,
			bpo.send_fee send_price,
			bpo.real_price,
			bpo.status,
			bpo.pt_base_id
			from b_pintuan_order  bpo
			left join b_address ba on bpo.address_id=ba.id
			where bpo.order_id=#{order_id}
	</select>
	
	<!-- 查询团购商品信息 -->
	<select id="selectPtProOrderList" parameterType="long" resultType="com.linjia.web.model.ThirdOrderProduct">
		select 
			bas.id,
			bas.p_code pCode,
			bas.p_name  pName,
			1 as quantity,
			bas.market_price itemPrice,
			CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bp.image_path) AS imagePath
 		from b_activity_pintuan_base bas,b_product bp
		where bas.id=#{pt_base_id}
			and bas.p_code=bp.p_code 
	</select>
	
	<update id="updatePtOrderById" parameterType="com.linjia.web.model.PinTuanOrder">
		update b_pintuan_order
		<set>
			<if test="pay_type !=null">pay_type =#{pay_type},</if>
			<if test="pay_status !=null">pay_status =#{pay_status},</if>
			<if test="price !=null">price =#{price},</if>
			<if test="p_name !=null">p_name =#{p_name},</if>
			<if test="address_id !=null">address_id =#{address_id},</if>
			<if test="pt_status !=null">pt_status =#{pt_status},</if>
			<if test="product_id !=null">product_id =#{product_id},</if>
			<if test="p_code !=null">p_code =#{p_code},</if>
			<if test="status !=null">status =#{status},</if>
			<if test="send_fee !=null">send_fee =#{send_fee},</if>
			<if test="remark !=null">remark =#{remark},</if>
			<if test="add_score !=null">add_score =#{add_score},</if>
			<if test="onebuy_price !=null">onebuy_price =#{onebuy_price},</if>
			<if test="pay_time !=null">pay_time =#{pay_time},</if>
			<if test="real_price !=null">real_price =#{real_price},</if>
			<if test="third_logistics_no !=null">third_logistics_no =#{third_logistics_no},send_time=SYSDATE(),</if>
			<if test="third_logistics_name !=null">third_logistics_name=#{third_logistics_name}</if>
			<if test="pt_base_id !=null">pt_base_id =#{pt_base_id},</if>
			<if test="cancel_time !=null">cancel_time =#{cancel_time},</if>
			<if test="order_success_time !=null">order_success_time =#{order_success_time},</if>
			<if test="cancel_reason !=null">cancel_reason =#{cancel_reason},</if>
			<if test="buyPersonNum !=null">buyPersonNum =#{buyPersonNum},</if>
		</set>
			where  order_id=#{order_id} 
		<if test="user_id !=null">and user_id=#{user_id}</if>
		<if test="pt_id !=null">and pt_id=#{pt_id}</if>
	</update>

	<select id="selectReScoreOrder" parameterType="java.lang.Long" resultType="com.linjia.web.model.ThirdOrder">
		SELECT 
		cm.custname receive_name,
		cm.phone receive_phone,
		bso.id,
		bso.score add_score,
		bso.price real_price,
		bso.content remark,
		bso.user_id ,
		bso.pay_type 
		FROM b_score_order bso LEFT JOIN cust_master cm 
		on bso.user_id=cm.user_id where bso.id=#{orderId} and bso.order_status=1
	</select>
	
	<!-- 查询饿了么订单 -->
	<select id="selectElemeOrder" parameterType="com.linjia.web.query.ThirdLogisOrderQuery"
		resultType="com.linjia.web.model.ThirdOrder">
		select
			id,
			shopId mall_code,
			shopName mall_name,
			consignee receive_name,
			phoneList receive_phone,
			deliveryPoiAddress receive_address,
			'0' as send_type,
			createdAt create_time,
			deliverTime send_date,
			deliverTime cust_send_date,
			0 as send_hour,
			0 as pay_type, 
			originalPrice total_price, 
			deliverFee send_price,
			totalPrice real_price,
			order_status status,
			cancelReason,
			recive_time,
			description remark,
			'6' as orderSource
		from b_eleme_order where id=#{order_id}
	</select>
	
</mapper>