<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.OrderGroupMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.OrderGroup" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="total_product_num" property="totalProductNum" jdbcType="INTEGER" />
    <result column="total_product_price" property="totalProductPrice" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="receive_name" property="receiveName" jdbcType="VARCHAR" />
    <result column="receive_phone" property="receivePhone" jdbcType="VARCHAR" />
    <result column="receive_address" property="receiveAddress" jdbcType="VARCHAR" />
    <result column="send_type" property="immediateSendType" jdbcType="INTEGER" />
    <result column="send_date" property="immediatesendDate" jdbcType="DATE" />
    <result column="send_hour" property="immediateSendHour" jdbcType="VARCHAR" />
    <result column="mall_code" property="mallCode" jdbcType="VARCHAR" />
    <result column="mall_name" property="mallName" jdbcType="VARCHAR" />
    <result column="mall_phone" property="mallPhone" jdbcType="VARCHAR" />
    <result column="send_price" jdbcType="DECIMAL" property="immediateSendPrice" />
    <result column="user_card_coupon_id" jdbcType="BIGINT" property="userCardCouponId" />
    <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
    <result column="is_full_subtract" property="isFullSubtract" jdbcType="BIT" />
    <result column="card_coupon_price" property="cardCouponPrice" jdbcType="DECIMAL" />
    <result column="full_subtract_price" property="fullSubtractPrice" jdbcType="DECIMAL" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="preferential_price" property="preferentialPrice" jdbcType="DECIMAL" />
    <result column="real_price" property="realPrice" jdbcType="DECIMAL" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="order_group_status" property="orderGroupStatus" jdbcType="INTEGER" />
    <result column="remark" property="immediateRemark" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="order_send_type" jdbcType="INTEGER" property="orderSendType" />
    <result column="take_goods_code" jdbcType="INTEGER" property="takeGoodsCode" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, total_product_num, total_product_price, total_price, receive_name, receive_phone, 
    receive_address, send_type, send_date, send_hour, mall_code, mall_name, mall_phone, 
    send_price, coupon_type, user_card_coupon_id, is_full_subtract, full_subtract_price, card_coupon_price, pay_type, preferential_price, 
    real_price, score, pay_status, start_time, end_time, order_group_status, remark, 
    cre_date, order_send_type
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_order_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <!-- 生成订单数据 -->
  <insert id="insertSelective" parameterType="com.linjia.web.model.OrderGroup" useGeneratedKeys="true" keyProperty="id">
    insert into b_order_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="totalProductNum != null" >
        total_product_num,
      </if>
      <if test="totalProductPrice != null" >
        total_product_price,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="receiveName != null" >
        receive_name,
      </if>
      <if test="receivePhone != null" >
        receive_phone,
      </if>
      <if test="receiveAddress != null" >
        receive_address,
      </if>
      <if test="sendType != null" >
        send_type,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="sendHour != null" >
        send_hour,
      </if>
      <if test="mallCode != null" >
        mall_code,
      </if>
      <if test="mallName != null" >
        mall_name,
      </if>
      <if test="mallPhone != null" >
        mall_phone,
      </if>
      <if test="sendPrice != null" >
        send_price,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
      <if test="userCardCouponId != null" >
        user_card_coupon_id,
      </if>
      <if test="isFullSubtract != null" >
        is_full_subtract,
      </if>
      <if test="fullSubtractPrice != null" >
        full_subtract_price,
      </if>
      <if test="cardCouponPrice != null" >
        card_coupon_price,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="preferentialPrice != null" >
        preferential_price,
      </if>
      <if test="realPrice != null" >
        real_price,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="orderGroupStatus != null" >
        order_group_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creDate != null" >
        cre_date,
      </if>
      <if test="orderSendType != null">
        order_send_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="totalProductNum != null" >
        #{totalProductNum,jdbcType=INTEGER},
      </if>
      <if test="totalProductPrice != null" >
        #{totalProductPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="receiveName != null" >
        #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null" >
        #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress != null" >
        #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="immediateSendType != null" >
        #{sendType,jdbcType=INTEGER},
      </if>
      <if test="immediateSendDate != null" >
        #{sendDate,jdbcType=DATE},
      </if>
      <if test="immediateSendHour != null" >
        #{sendHour,jdbcType=VARCHAR},
      </if>
      <if test="mallCode != null" >
        #{mallCode,jdbcType=VARCHAR},
      </if>
      <if test="mallName != null" >
        #{mallName,jdbcType=VARCHAR},
      </if>
      <if test="mallPhone != null" >
        #{mallPhone,jdbcType=VARCHAR},
      </if>
      <if test="sendPrice != null" >
        #{sendPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=INTEGER},
      </if>
      <if test="userCardCouponId != null" >
        #{userCardCouponId,jdbcType=BIGINT},
      </if>
      <if test="isFullSubtract != null" >
        #{isFullSubtract,jdbcType=INTEGER},
      </if>
      <if test="fullSubtractPrice != null" >
        #{fullSubtractPrice,jdbcType=DECIMAL},
      </if>
      <if test="cardCouponPrice != null" >
        #{cardCouponPrice,jdbcType=DECIMAL},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="preferentialPrice != null" >
        #{preferentialPrice,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderGroupStatus != null" >
        #{orderGroupStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creDate != null" >
        #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSendType != null">
        #{orderSendType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!-- 更改订单状态 -->
  <update id="updateStatusById" parameterType="map" >
    update b_order_group
    set 
    <if test="payStatus != null" >
      pay_status = #{payStatus,jdbcType=INTEGER},
    </if>
    <if test="transaction_id != null" >
      transaction_id = #{transaction_id,jdbcType=VARCHAR},
    </if>
      order_group_status = #{orderGroupStatus,jdbcType=INTEGER}
    where id = #{groupId,jdbcType=BIGINT},
  </update>
  
  <!-- 查询我的全部订单 -->
  <select id="selectMyAllOrderList" resultMap="BaseResultMap" parameterType="com.linjia.web.query.OrderGroupQuery" >
    select 
    <include refid="Base_Column_List" />
    from b_order_group
    where user_id = #{userId,jdbcType=VARCHAR}
    order by id desc
    limit #{startIndex},#{pageSize}
  </select>

</mapper>