<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.ReceiveCardCouponMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.ReceiveCardCoupon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="publish_start_time" property="publishStartTime" jdbcType="TIMESTAMP" />
    <result column="publish_end_time" property="publishEndTime" jdbcType="TIMESTAMP" />
    <result column="publish_type" property="publishType" jdbcType="INTEGER" />
    <result column="publish_num" property="publishNum" jdbcType="INTEGER" />
    <result column="card_coupon_id" property="cardCouponId" jdbcType="BIGINT" />
    <result column="card_name" property="cardName" jdbcType="VARCHAR" />
    <result column="use_status" property="useStatus" jdbcType="BIT" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, publish_start_time, publish_end_time, publish_type, publish_num, card_coupon_id, card_name, use_status, cre_date, creator
  </sql>
  
  <select id="selectByPageList" resultMap="BaseResultMap" parameterType="com.linjia.web.query.ReceiveCardCouponQuery" >
    select
    <include refid="Base_Column_List" />
    from b_receive_card_coupon
    where 1 =1 
    <if test="cardNameQuery != null" >
        AND card_name like #{cardNameQuery,jdbcType=VARCHAR}
    </if>
    order by id desc
    limit #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="countByExample" resultType="java.lang.Integer" parameterType="com.linjia.web.query.ReceiveCardCouponQuery" >
    select
    count(id)
    from b_receive_card_coupon
    where 1 =1 
    <if test="cardNameQuery != null" >
        AND card_name like #{cardNameQuery,jdbcType=VARCHAR}
    </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_receive_card_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_receive_card_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.linjia.web.model.ReceiveCardCoupon" >
    insert into b_receive_card_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="publishStartTime != null" >
        publish_start_time,
      </if>
      <if test="publishEndTime != null" >
        publish_end_time,
      </if>
      <if test="publishType != null" >
        publish_type,
      </if>
      <if test="publishNum != null" >
        publish_num,
      </if>
      <if test="cardCouponId != null" >
        card_coupon_id,
      </if>
      <if test="cardName != null" >
        card_name,
      </if>
      <if test="useStatus != null" >
        use_status,
      </if>
      <if test="creDate != null" >
        cre_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="publishStartTime != null" >
        #{publishStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishEndTime != null" >
        #{publishEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishType != null" >
        #{publishType,jdbcType=INTEGER},
      </if>
      <if test="publishNum != null" >
        #{publishNum,jdbcType=INTEGER},
      </if>
      <if test="cardCouponId != null" >
        #{cardCouponId,jdbcType=INTEGER},
      </if>
      <if test="cardName != null" >
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="useStatus != null" >
        #{useStatus,jdbcType=BIT},
      </if>
      <if test="creDate != null" >
        #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.ReceiveCardCoupon" >
    update b_receive_card_coupon
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="publishStartTime != null" >
        publish_start_time = #{publishStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishEndTime != null" >
        publish_end_time = #{publishEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishType != null" >
        publish_type = #{publishType,jdbcType=INTEGER},
      </if>
      <if test="publishNum != null" >
        publish_num = #{publishNum,jdbcType=INTEGER},
      </if>
      <if test="cardCouponId != null" >
        card_coupon_id = #{cardCouponId,jdbcType=INTEGER},
      </if>
      <if test="cardName != null" >
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="useStatus != null" >
        use_status = #{useStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 更新使用状态 -->
  <update id="updateUseStatusByPrimaryKey" parameterType="map" >
    update b_receive_card_coupon
    set use_status = #{useStatus,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>