<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.ShoppingCarMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.ShoppingCar" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="p_code" property="pCode" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="p_send_type" property="pSendType" jdbcType="INTEGER" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="name" property="pName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bsc.id, bsc.product_id, bsc.p_code, bsc.user_id, bsc.quantity, bsc.cre_date,bp.name,bp.p_send_type
  </sql>
  <sql id="Base_Column_List_1" >
    id, product_id, p_code, user_id, quantity, cre_date
  </sql>
  <select id="selectCarAllProduct" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b_shopping_car bsc INNER JOIN b_product bp ON bsc.product_id = bp.id
    where bsc.user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  <!--  查询要结算的商品-->
  <select id="selectCarProductByChecked" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from b_shopping_car bsc INNER JOIN b_product bp ON bsc.product_id = bp.id
    where bsc.p_code IN
    <foreach collection="pCodeArray" item="item" index="index" open="(" close=")" separator=",">
    	#{item}
    </foreach>
    AND bsc.user_id =#{userId,jdbcType=VARCHAR} 
    <if test="orderSendType != null">
    AND bp.p_send_type = #{orderSendType,jdbcType=INTEGER}
    </if>
  </select>
  
  <!--  添加购物车时查询商品是否已经存在-->
  <select id="selectProductByPCodeAndUserId" resultMap="BaseResultMap" parameterType="map" >
    SELECT quantity FROM `b_shopping_car` WHERE p_code = #{pCode,jdbcType=VARCHAR} AND user_id =#{userId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--  删除购物车商品-->
    delete from b_shopping_car
    where id = #{id,jdbcType=INTEGER} 
  </delete>
  
  <delete id="updateQuantityByPrimaryKey" parameterType="java.lang.Long" >
    <!--  更改购物车商品数量-->
    update b_shopping_car
    set quantity = #{quantity,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER} 
  </delete>
  
  <insert id="insertSelective" parameterType="com.linjia.web.model.ShoppingCar" useGeneratedKeys="true" keyProperty="id" >
    <!--  加入商品到购物车-->
    insert into b_shopping_car (product_id, p_code, 
      user_id, quantity, cre_date
      )
    values (#{productId,jdbcType=INTEGER}, #{pCode,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{creDate,jdbcType=TIMESTAMP}
      )
  </insert>
</mapper>