<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="../../../dist/css/common.css" />
		<link rel="stylesheet" href="../../../dist/css/goods.css" />
	</head>
	<body>
	<div id="wrap">
		<header class="common_top linear">
			<aside class="top_aside left">
				<img class="common_logo right" src="../../../dist/images/logo1.png" alt="" />
			</aside>
			<section class="top_section right">
				<header class="top_header">
					<div class="right flex">
						<p>
							<span class="bord_right">欢迎您</span>
							<span>注销</span>
						</p>
						<p>个人设置</p>
						<p>载入权限</p>
					</div>
				</header>
				<nav class="top_nav flex">
					<a href="../index.html">导航</a>
					<a class="top_act">商品</a>
					<a href="activities.html">活动</a>
					<a href="mallshops.html">门店</a>
					<a href="coupons.html">卡券</a>
					<a href="orders.html">订单</a>
					<a href="operate.html">运营</a>
					<a href="finance.html">财务</a>
					<a href="leaguer.html">会员</a>
				</nav>
			</section>
			<div class="emp"></div>
		</header>
		<section class="common_cont height_auto">
			<aside class="cont_aside height_auto left">
				<div class="cont_aside_item cont_aside_header">商品</div>				
				<a class="cont_aside_item" href="goods.html">商品管理 ></a>			
				<a class="cont_aside_item cont_aside_hid" href="goods_createCode.html">创建条形码 ></a>
				<a class="cont_aside_item cont_aside_hid" href="goods_new.html">新增商品 ></a>
				<a class="cont_aside_item" href="goods_kind.html">商品分类 ></a>
				<a class="cont_aside_item" href="goods_brand.html">商品品牌 ></a>
				<a class="cont_aside_item" href="goods_unit.html">商品单位 ></a>
			</aside>
			<section class="cont_section height_auto right">
				<header class="cont_section_header">商品管理</header>
				<section class="cont_section_section">					
					<div class="goodsManage">
						<div class="cont_section_head">
							<div class="height flex">
								<span class="left disp">商品条形码：</span>
								<input type="text" class="left" />
								<span class="left disp">商品名称：</span>
								<input type="text" class="left" />
								<span class="left disp">商品类型：</span>
								<select name="" id="" class="left">
									<option value="">门店商品</option>
									<option value="">非门店商品</option>
								</select>
							</div>
							<div class="height">
								<div class="bgbtn flex">
									<span class="left back_dblue col_white btn"><i class="icon-btn icon-search"></i>查询</span>
									<span class="left back_dblue col_white btn"><i class="icon-btn icon-reset"></i>重置</span>
								</div>								
							</div>
						</div>						
						<div class="click">
							<span class="left back_dblue btn"><i class="icon-btn icon-add"></i>新增商品</span>
							<span class="left back_dblue btn"><i class="icon-btn icon-delete"></i>删除</span>
							<span class="left back_dblue btn"><i class="icon-btn icon-import"></i>导入</span>
							<span class="left back_dblue btn"><i class="icon-btn icon-export"></i>导出</span>
						</div>
						<div class="section_table">
							<table cellspacing="none">
						<thead>
							<th></th>
							<th>商品条形码</th>
							<th>创建时间</th>
							<th>商品类型</th>
							<th>商品图片</th>
							<th>商品名称</th>
							<th>价格</th>
							<th>一级分类</th>
							<th>二级分类</th>
							<th>操作</th>
						</thead>
						<tbody>
							<tr class="goods_tr">
								<td></td>
								<td>141566646</td>
								<td>2016-05-06 14:06</td>
								<td>非门店商品</td>
								<td></td>
								<td>了解佛山</td>
								<td>40</td>
								<td>趟</td>
								<td>软糖</td>
								<td>修改</td>
							</tr>
						</tbody>
						</table>
						</div>
						
					</div>					
				</section>
				<footer class="cont_section_footer">
					<span class="left page">上一页</span>
					<span class="left page page_chose">1</span>
					<span class="left page">下一页</span>
				</footer>
			</section>
			<div class="emp"></div>
		</section>
		</div>
	</body>
	<script src="../../../dist/js/jquery-1.11.2.js"></script>
	<script src="../../../dist/js/common.js"></script>
	<script src="../../../dist/js/goods.js"></script>
</html>
