<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../dist/css/common.css" />
		<link rel="stylesheet" href="../../../dist/css/goods.css" />
		<script src="../../../dist/js/jquery-1.11.2.js"></script>
	<script src="../../../dist/js/common.js"></script>
	<script src="../../../dist/js/goods.js"></script>
	</head>
	<body>
	<div id="wrap">
		<section class="cont_section height_auto">
				<header class="cont_section_header">商品管理</header>
				<section class="cont_section_section">					
					<div class="goodsManage">
						<div class="cont_section_head">
							<div class="height flex">
								<span class="left disp">商品条形码：</span>
								<input type="text" class="left" />
								<span class="left disp">商品名称：</span>
								<input type="text" class="left" />
								<span class="left disp">商品类型：</span>
								<select name="" id="" class="left">
									<option value="">门店商品</option>
									<option value="">非门店商品</option>
								</select>
							</div>
							<div class="height">
								<div class="bgbtn flex">
									<span class="left back_dblue col_white btn"><i class="icon-btn icon-search"></i>查询</span>
									<span class="left back_dblue col_white btn"><i class="icon-btn icon-reset"></i>重置</span>
								</div>								
							</div>
						</div>						
						<div class="click">
							<span class="left back_dblue btn"><i class="icon-btn icon-add"></i>新增商品</span>
							<span class="left back_dblue btn"><i class="icon-btn icon-delete"></i>删除</span>
							<span class="left back_dblue btn"><i class="icon-btn icon-import"></i>导入</span>
							<span class="left back_dblue btn"><i class="icon-btn icon-export"></i>导出</span>
						</div>
						<div class="section_table">
							<table cellspacing="none">
						<thead>
							<th></th>
							<th>商品条形码</th>
							<th>创建时间</th>
							<th>商品类型</th>
							<th>商品图片</th>
							<th>商品名称</th>
							<th>价格</th>
							<th>一级分类</th>
							<th>二级分类</th>
							<th>操作</th>
						</thead>
						<tbody>
							<tr class="goods_tr">
								<td></td>
								<td>141566646</td>
								<td>2016-05-06 14:06</td>
								<td>非门店商品</td>
								<td></td>
								<td>了解佛山</td>
								<td>40</td>
								<td>趟</td>
								<td>软糖</td>
								<td>修改</td>
							</tr>
						</tbody>
						</table>
						</div>
						
					</div>					
				</section>
				<footer class="cont_section_footer">
					<span class="left page">上一页</span>
					<span class="left page page_chose">1</span>
					<span class="left page">下一页</span>
				</footer>
			</section>
		</div>
	</body>
	
</html>
