<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.linjia.web.dao.ActivityTradeProductMapper">
	<!-- 缓存 -->  
   <!--  <cache eviction="LRU" type="com.linjia.core.feature.cache.MybatisRedisCache" />  -->
    
	<insert id="insertActTradePro" parameterType="com.linjia.web.model.ActivityTradeProduct">
		insert into b_trade_product(product_id,p_name,p_code,p_price,p_trade_price,quantity,activity_id,create_time) 
		values(#{product_id},#{p_name},#{p_code},#{p_price},#{p_trade_price},#{quantity},#{activity_id},SYSDATE())
	</insert>
	
	<update id="updateActTradeProById" parameterType="com.linjia.web.model.ActivityTradeProduct">
		update b_trade_product 
		<set>
			<if test="product_id !=null">
				product_id=#{product_id},
			</if>
			<if test="p_name !=null">
				p_name=#{p_name},
			</if>
			<if test="p_code !=null">
				p_code=#{p_code},
			</if>
			<if test="p_price !=null">
				p_price=#{p_price},
			</if>
			<if test="p_trade_price !=null">
				p_trade_price=#{p_trade_price},
			</if>
			<if test="quantity !=null">
				quantity=#{quantity},
			</if>
			<if test="activity_id !=null">
				activity_id=#{activity_id},
			</if>
			update_time=SYSDATE()
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteActTradeProById" parameterType="int">
		delete from b_trade_product where id=#{id}
	</delete>
	
	<delete id="deleteActTradeProByActId" parameterType="int">
		delete from b_trade_product where activity_id=#{activity_id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="selectActTradeProById" parameterType="int" resultType="com.linjia.web.model.ActivityTradeProduct">
		select id,product_id,p_name,p_code,p_price,p_trade_price,quantity,activity_id,create_time,update_time from b_trade_product where id=#{id}
	</select>
	
	<select id="selectActTradeProAll" resultType="com.linjia.web.model.ActivityTradeProduct" parameterType="map">
		select id,product_id,p_name,p_code,p_price,p_trade_price,quantity,activity_id,create_time,update_time from b_trade_product where 1=1
		<if test="p_name !=null">
			and p_name like CONCAT(CONCAT('%',#{p_name}),'%')
		</if>
		<if test="activity_id !=null">
			and activity_id=#{activity_id}
		</if>
	</select>
	
		<!-- 批量插入换购商品 -->
	<insert id="insertBatActTradeProducts" parameterType="list">
	 insert into b_trade_product(
        activity_id,
        product_id,
        p_code,
        p_name,
        p_price,
        p_trade_price,
        quantity,
        p_send_type,
        create_time) values
     <foreach collection="list" item="item" index="index"  separator="," >  
       (#{item.activity_id},
      	#{item.product_id},
        #{item.p_code},
        #{item.p_name},
        #{item.p_price},
        #{item.p_trade_price},
        #{item.quantity},
        #{item.p_send_type},
        SYSDATE())
    </foreach>
	</insert>
	
	<select id="selectActTradeProByActId" parameterType="int" resultType="com.linjia.web.model.ActivityTradeProduct">
		select id,product_id,p_name,p_code,p_price,p_trade_price,p_send_type,quantity,activity_id,create_time,update_time from b_trade_product where activity_id=#{activity_id}
	</select>
	
	<select id="selectActTraNum" parameterType="int" resultType="int">
		select count(*) from b_trade_product where activity_id=#{activity_id}
	</select>
	
</mapper>