<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="receive_name" property="receiveName" jdbcType="VARCHAR" />
    <result column="receive_sex" property="receiveSex" jdbcType="INTEGER" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="zip" property="zip" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, receive_name, receive_sex, region, detail_address, zip, phone, latitude, 
    longitude, cre_date, update_date
  </sql>
  <select id="selectOneByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b_address
    where user_id = #{userId,jdbcType=VARCHAR}
    order by update_date desc
    limit 1
  </select>
  
  <!-- 查询我的地址列表 -->
  <select id="selectListByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b_address
    where user_id = #{userId,jdbcType=VARCHAR}
    order by update_date desc
  </select>
  
  <!-- 新增地址 -->
  <insert id="insertSelective" parameterType="com.linjia.web.model.Address" >
    insert into b_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="receiveName != null" >
        receive_name,
      </if>
      <if test="receiveSex != null" >
        receive_sex,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="zip != null" >
        zip,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="creDate != null" >
        cre_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null" >
        #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="receiveSex != null" >
        #{receiveSex,jdbcType=BIT},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="creDate != null" >
        #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 编辑地址 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.Address" >
    update b_address
      <if test="receiveName != null" >
        receive_name = #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="receiveSex != null" >
        receive_sex = #{receiveSex,jdbcType=INTEGER},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      where id = #{id,jdbcType=INTEGER}
  </update>
  
    <!-- 删除地址 -->
  <select id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete 
    from b_address
    where id = #{id,jdbcType=Long}
  </select>
</mapper>