<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.linjia.web.dao.BaiduLogsticsMapper">
	<!-- 缓存 -->  
   <!--  <cache eviction="LRU" type="com.linjia.core.feature.cache.MybatisRedisCache" />  -->
   
   <resultMap id="BaiduResultMap" type="com.linjia.web.thirdService.baidu.model.BaiduReOrder" >
    <result column="order_id" property="order.id" jdbcType="VARCHAR" />
    <result column="order_send_immediately" property="order.send_immediately" jdbcType="INTEGER" />
    <result column="order_send_time" property="order.send_time" jdbcType="VARCHAR" />
    <result column="order_send_fee" property="order.send_price" jdbcType="VARCHAR" />
    <result column="order_package_fee" property="order.package_fee" jdbcType="INTEGER" />
    <result column="order_discount_fee" property="order.discount_fee" jdbcType="INTEGER" />
    <result column="order_total_fee" property="order.total_fee" jdbcType="INTEGER" />
    <result column="order_shop_fee" property="order.shop_fee" jdbcType="INTEGER" />
    <result column="order_user_fee" property="order.user_fee" jdbcType="INTEGER" />
    <result column="order_pay_type" property="order.pay_type" jdbcType="INTEGER" />
    <result column="order_pay_status" property="order.pay_status" jdbcType="INTEGER" />
    <result column="order_need_invoice" property="order.need_invoice" jdbcType="INTEGER" />
    <result column="order_invoice_title" property="order.invoice_title" jdbcType="VARCHAR" />
    <result column="order_remark" property="order.remark" jdbcType="VARCHAR" />
    <result column="order_delivery_party" property="order.delivery_party" jdbcType="VARCHAR" />
    <result column="order_create_time" property="order.create_time" jdbcType="VARCHAR" />
    <result column="order_cancel_time" property="order.cancel_time" jdbcType="VARCHAR" />
    <result column="shop_name" property="shop.mall_name" jdbcType="VARCHAR" />
    <result column="baidu_shop_id" property="shop.baidu_shop_id" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="shop_id" property="shop.id" jdbcType="VARCHAR" />
    <result column="shop_id" property="shop.mall_code" jdbcType="VARCHAR" />
    <result column="user_name" property="user.receive_name" jdbcType="VARCHAR" />
    <result column="user_phone" property="user.receive_phone" jdbcType="VARCHAR" />
    <result column="user_gender" property="user.gender" jdbcType="INTEGER" />
    <result column="user_address" property="user.receive_address" jdbcType="VARCHAR" />
    <result column="user_coord_longitude" property="user.coord.longitude" jdbcType="FLOAT" />
    <result column="user_coord_latitude" property="user.coord.latitude" jdbcType="FLOAT" />
    <result column="products" property="productList" jdbcType="LONGVARCHAR" />
    <result column="discount" property="discountList" jdbcType="LONGVARCHAR" />
    <result column="ticket" property="ticket" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
     <result column="status" property="order.status" jdbcType="INTEGER" />
     <result column="recive_time" property="recive_time" jdbcType="TIMESTAMP" />
     <result column="orderNum" property="orderNum" jdbcType="INTEGER" />
     <result column="urgeNum" property="urgeNum" jdbcType="INTEGER" />
     <result column="cancelReason" property="cancelReason" jdbcType="VARCHAR" />
      <result column="cancelCode" property="cancelCode" jdbcType="INTEGER" />
      <result column="uhd_order_id" property="uhd_order_id" jdbcType="VARCHAR" />
      <result column="uhd_refund_order_id" property="uhd_refund_order_id" jdbcType="VARCHAR" />
    
  </resultMap>

	<insert id="insertBdOrder" parameterType="com.linjia.web.thirdService.baidu.model.BaiduData" useGeneratedKeys="true" keyProperty="id">
		insert into b_baidu_order(		
        shop_id,		
        shop_name,		
        shop_baidu_shop_id,	
        order_id,		
        order_send_immediately,	
        order_send_time,		
        order_send_fee,		
        order_package_fee,	
        order_discount_fee,	
        order_total_fee,	
        order_shop_fee,		
        order_user_fee,		
        order_pay_type,		
        order_pay_status,	
        order_need_invoice,	
        order_invoice_title,	
        order_remark,		
        order_delivery_party,	
        order_create_time,	
        order_cancel_time,	
        status,
        user_name,		
        user_phone,		
        user_gender,		
        user_address,		
        user_coord_longitude,	
        user_coord_latitude,	
		products,
		discount,	
		createtime)
		VALUES(			
	        #{shop.id},		
	        #{shop.name},		
	        #{shop.baidu_shop_id},	
	        #{order.order_id},		
	        #{order.send_immediately},	
	        #{order.send_time},		
	        #{order.send_fee},		
	        #{order.package_fee},	
	        #{order.discount_fee},	
	        #{order.total_fee},	
	        #{order.shop_fee},		
	        #{order.user_fee},		
	        #{order.pay_type},		
	        #{order.pay_status},	
	        #{order.need_invoice},	
	        #{order.invoice_title},	
	        #{order.remark},		
	        #{order.delivery_party},	
	        #{order.create_time},	
	        #{order.cancel_time},
	        #{order.status},	
	        #{user.name},		
	        #{user.phone},		
	        #{user.gender},		
	        #{user.address},		
	        #{user.coord.longitude},	
	        #{user.coord.latitude},	
			#{proListStr},
			#{discLListStr},
			sysdate())
	</insert>
	
	<update id="updateBdOrder" parameterType="com.linjia.web.thirdService.baidu.model.BaiduData">
		update b_baidu_order
		 <set>
		 	<if test="shop.id != null">shop_id=#{shop.id},</if>		
	        <if test="shop.name != null">shop_name=#{shop.name},</if>	
	        <if test="shop.baidu_shop_id != null"> shop_baidu_shop_id=#{shop.baidu_shop_id},</if>
	        <if test="order.send_immediately != null">order_send_immediately=#{order.send_immediately},</if>
	        <if test="order.send_time != null">order_send_time=#{order.send_time},</if>			
	        <if test="order.send_fee != null">order_send_fee=#{order.send_fee},</if>	
	        <if test="order.package_fee != null"> order_package_fee=#{order.package_fee},</if> 			
	        <if test="order.discount_fee != null"> order_discount_fee=#{order.discount_fee},</if>
	        <if test="order.total_fee != null"> order_total_fee=#{order.total_fee},</if>
	        <if test="order.shop_fee != null"> order_shop_fee=#{order.shop_fee},</if>
	        <if test="order.user_fee != null"> order_user_fee=#{order.user_fee},</if>	
	        <if test="order.pay_type != null"> order_pay_type=#{order.pay_type},</if>		
	        <if test="order.pay_status != null"> order.pay_status=#{order.pay_status},</if>	
	        <if test="order.need_invoice != null"> order_need_invoice=#{order.need_invoice},</if>	
	        <if test="order.invoice_title != null">order_invoice_title=#{order.invoice_title},</if>
	        <if test="order.remark != null">order_remark=#{order.remark},</if>
	        <if test="order.delivery_party != null"> order_delivery_party=#{order.delivery_party},</if>	
	        <if test="order.create_time != null"> order_create_time=#{order.create_time},</if>		
	        <if test="order.cancel_time != null"> order_cancel_time=#{order.cancel_time},</if>	
	        <if test="order.recive_time != null"> recive_time=#{order.recive_time},</if>	
	        <if test="order.status != null"> status=#{order.status},</if>	
	        <if test="user.name != null">  user_name=#{user.name},</if>
	        <if test="user.phone != null">  user_phone=#{user.phone},</if>
	        <if test="user.gender != null">  user_gender=#{user.gender},</if>	
	        <if test="user.address != null">  user_address=#{user.address},</if>		
	        <if test="user.coord.longitude != null">  user_coord_longitude=#{user.coord.longitude},</if>		
            <if test="user.coord.latitude != null"> user_coord_latitude=#{user.coord.latitude},</if>
			<if test="proListStr != null">products=#{proListStr},</if>
			<if test="discLListStr != null">discount=#{discLListStr},</if>
			<if test="createtime != null">createtime=sysdate(),</if>
			<if test="uhd_order_id != null">uhd_order_id=#{uhd_order_id},</if>
			<if test="uhd_refund_order_id != null">uhd_refund_order_id=#{uhd_refund_order_id},</if>
		</set>
  		where 1=1 and order_id=#{order.order_id}
	</update>
	
	<update id="deleteBdOrder" parameterType="java.lang.String">
		update b_baidu_order
		 <set>
			createtime=sysdate(),deleted=1
		</set>
  		where 1=1 and order_id=#{order_id}
	</update>
	
	<!-- 订单状态推送修改 -->
	<update id="updateBdOrderStatus" parameterType="com.linjia.web.thirdService.baidu.model.Order">
		update b_baidu_order
		 <set>
			status=#{status}
		</set>
  		where 1=1 and deleted=0 and order_id=#{order_id}
	</update>
	
	<!-- 订单状态查询 -->
	<select id="selectBdOrderStatus" parameterType="com.linjia.web.thirdService.baidu.model.Order" resultType="com.linjia.web.thirdService.baidu.model.Order">
		select order_id,status
		from b_baidu_order
  		where 1=1 and deleted=0 and order_id=#{order_id}
	</select>
	
	<!-- 店铺查询订单详情-->
	<select id="selectBdOrder" parameterType="com.linjia.web.query.ThirdLogisOrderQuery" resultMap="BaiduResultMap">
		select		
	        shop_id,		
	        shop_name,		
	        shop_baidu_shop_id,	
	        order_id,		
	        order_send_immediately,	
	        order_send_time,		
	        order_send_fee,		
	        order_package_fee,	
	        order_discount_fee,	
	        order_total_fee,	
	        order_shop_fee,		
	        order_user_fee,		
	        order_pay_type,		
	        order_pay_status,	
	        order_need_invoice,	
	        order_invoice_title,	
	        order_remark,		
	        order_delivery_party,	
	        order_create_time,	
	        order_cancel_time,
	        status,
	        user_name,		
	        user_phone,		
	        user_gender,		
	        user_address,		
	        user_coord_longitude,	
	        user_coord_latitude,	
			products,
			discount,	
			createtime,
			uhd_order_id,
			uhd_refund_order_id
		from  b_baidu_order
        where deleted=0 and order_id=#{order_id}
        <if test="shop_id !=null and shop_id!='' ">
      	  and shop_id=#{shop_id}
        </if>
	</select>
	
		<!-- 根据订单Id查询订单详情-->
	<select id="selectBdOrderlist" parameterType="com.linjia.web.query.ThirdLogisOrderQuery" resultMap="BaiduResultMap">
		select		
	        shop_id,		
	        shop_name,		
	        shop_baidu_shop_id,	
	        order_id,		
	        order_send_immediately,	
	        order_send_time,		
	        order_send_fee,		
	        order_package_fee,	
	        order_discount_fee,	
	        order_total_fee,	
	        order_shop_fee,		
	        order_user_fee,		
	        order_pay_type,		
	        order_pay_status,	
	        order_need_invoice,	
	        order_invoice_title,	
	        order_remark,		
	        order_delivery_party,	
	        order_create_time,	
	        order_cancel_time,	
	        status,
	        user_name,		
	        user_phone,		
	        user_gender,		
	        user_address,		
	        user_coord_longitude,	
	        user_coord_latitude,	
			products,
			discount,
			createtime
		from  b_baidu_order
        where deleted=0 and shop_id=#{shop_id}
	</select>
	
	<!-- 查询抛单对象 -->
	<select id="selectPdOrder" parameterType="java.lang.Long" resultMap="BaiduResultMap">
	select 
		bdo.order_id,
		bdo.order_send_immediately,
		bdo.order_send_time,
		bdo.order_send_fee,
		bdo.order_package_fee,
		bdo.order_discount_fee,
		bdo.order_total_fee,
		bdo.order_shop_fee,
		bdo.order_user_fee,
		bdo.order_pay_type,
		bdo.order_pay_status,
		bdo.order_need_invoice,
		bdo.order_invoice_title,
		bdo.order_remark,
		bdo.order_delivery_party,
		bdo.order_create_time,
		bdo.order_cancel_time,
		bsi.mall_code shop_id,
		bsi.mall_name shop_name,
		bdo.shop_baidu_shop_id,
		bdo.source,
		bdo.user_name,
		bdo.user_phone,
		bdo.user_gender,
		bdo.user_address,
		bdo.user_coord_longitude,
		bdo.user_coord_latitude,
		bdo.products,
		bdo.discount,
		bdo.ticket,
		bdo.version,
		bdo.createtime,
		bdo.deleted,
		bdo.status,
		bdo.recive_time,
		bdo.orderNum,
		bdo.urgeNum,
		bdo.cancelReason,
		bdo.cancelCode,
		bdo.uhd_order_id,
		bdo.uhd_refund_order_id
	from  b_baidu_order bdo,b_shop_info bsi 
    where bdo.shop_id=bsi.baiduShopId and bdo.deleted=0 and bdo.order_id=#{order_id}
	</select>
</mapper>