<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.CollegeTypeMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.CollegeType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  <select id="selectBySerach" resultMap="BaseResultMap" parameterType="com.linjia.web.query.CollegeTypeQuery" >
    select
    <include refid="Base_Column_List" />
    from t_college_type
    where 1=1
    <if test="nameQuery != null and nameQuery !=''" >
      AND name LIKE  #{nameQuery,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_college_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_admission_batch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.linjia.web.model.CollegeType" >
    insert into t_college_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjia.web.model.CollegeType" resultType="java.lang.Integer" >
    select count(*) from t_college_type
    where 1=1
    <if test="nameQuery != null and nameQuery !=''" >
     AND name LIKE  #{nameQuery,jdbcType=VARCHAR}
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.CollegeType" >
    update t_college_type
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>