<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.linjia.web.dao.FinaceMapper">
	<!-- 缓存 -->  
   <!--  <cache eviction="LRU" type="com.linjia.core.feature.cache.MybatisRedisCache" />  -->


	<!-- 总销售额统计-->
	<select id="selectSumAllSales" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
		select id,shop_id,p_code,order_id,platform,mall_code,create_time
		from  b_product_lack 
		where order_id=#{order_id} 
		<if test="shop_id !=null">and shop_id=#{shop_id}</if> 
		<if test="p_code !=null">and p_code=#{p_code}</if> 
		order by create_time desc  limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 店铺销售额统计(分日期) -->
	<select id="selectShopSalesByDate" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
	<!--店铺销售额统计(不分日期)  -->
	<select id="selectShopSales" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
	<!--店铺销售时段统计  -->
	<select id="selectShopSaleInterval" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
	<!--客单价分布统计-->
	<select id="selectCustPriceInterval" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
	<!-- 热销商品销售统计 -->
	<select id="selectHotSaleProducts" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
	<!-- 商品销售类别统计 -->
	<select id="selectProductsTypeSale" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
	<!-- 商品配送统计 -->
	<select id="selectProductsSend" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
	<!--商品清场统计 -->
	<select id="selectProductsClean" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
	<!--缺货商品统计  -->
	<select id="selectLackProducts" parameterType="com.linjia.web.query.FinaceQuery" resultType="com.linjia.web.model.FinaceSum">
	
	</select>
	
</mapper>