<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.HotsellBaseMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.HotsellBase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="banner_path" property="bannerPath" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="publish_date" property="publishDate" jdbcType="TIMESTAMP" />
    <result column="online" property="online" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',banner_path) AS banner_path, start_time, end_time, publish_date, online, deleted, cre_date, 
    update_date
  </sql>
  <select id="selectByPageList" resultMap="BaseResultMap" parameterType="com.linjia.web.query.HotsellBaseQuery" >
    select
    <include refid="Base_Column_List" />
    from b_hotsell_base
    where deleted = 0
    <if test="nameQuery != null" >
        AND name like #{nameQuery,jdbcType=VARCHAR}
    </if>
    <if test="online != null" >
        AND online = #{online,jdbcType=INTEGER}
    </if>
    <if test="startTime != null" >
        <![CDATA[ AND start_time >= #{startTime,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="endTime != null" >
        <![CDATA[ AND end_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </if>
  </select>
  
  <select id="totalCountByPage" parameterType="com.linjia.web.model.HotsellBase" resultType="java.lang.Integer" >
    select count(*) from b_hotsell_base 
    where deleted = 0
    <if test="nameQuery != null" >
        AND name like #{nameQuery,jdbcType=VARCHAR}
    </if>
    <if test="online != null" >
        AND online = #{online,jdbcType=INTEGER}
    </if>
    <if test="startTime != null" >
        <![CDATA[ AND start_time >= #{startTime,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="endTime != null" >
        <![CDATA[ AND end_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_hotsell_base
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update  b_hotsell_base set deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.linjia.web.model.HotsellBase" keyProperty="id" useGeneratedKeys="true">
    insert into b_hotsell_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="bannerPath != null" >
        banner_path,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="publishDate != null" >
        publish_date,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="creDate != null" >
        cre_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bannerPath != null" >
        #{bannerPath,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="online != null" >
        #{online,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="creDate != null" >
        #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update b_hotsell_base
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bannerPath != null" >
        banner_path = #{bannerPath,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="creDate != null" >
        cre_date = #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_hotsell_base
    set id = #{id,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      banner_path = #{bannerPath,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      publish_date = #{publishDate,jdbcType=DATE},
      online = #{online,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      cre_date = #{creDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.HotsellBase" >
    update b_hotsell_base
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bannerPath != null" >
        banner_path = #{bannerPath,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 更新使用状态 -->
  <update id="updateStatusByPrimaryKey" parameterType="map" >
    update b_hotsell_base
    set 
      online = #{online,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>