<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.MallProductStoreMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.MallProductStore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mall_id" property="mallId" jdbcType="INTEGER" />
    <result column="mall_code" property="mallCode" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="p_code" property="pCode" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="safe_quantity" property="safeQuantity" jdbcType="INTEGER" />
    <result column="online" property="online" jdbcType="BIT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mall_id, mall_code, product_id, p_code, market_price, sale_price, quantity, safe_quantity, 
    online, deleted
  </sql>
  
  <select id="selectSafeQtyByMallAndPCode" resultType="java.lang.Integer" parameterType="map" >
    select 
    safe_quantity
    from b_mall_product_store
    where mall_code = #{mallCode,jdbcType=VARCHAR} AND p_code = #{pCode,jdbcType=VARCHAR} AND online =1
  </select>
  
  	<insert id="insertMallProduct" parameterType="com.linjia.web.model.ReMallProduct">
		insert into b_mall_product_store(mall_code,p_code,market_price,sale_price,safe_quantity,online)
	</insert>
	
	<!-- 批量设置门店商品信息 -->
	<update id="updateMallProduct" parameterType="com.linjia.web.model.ReMallProduct">
		update b_mall_product_store 
		<set>
		<if test="market_price !=null">market_price=#{market_price},</if>
		<if test="sale_price !=null">sale_price=#{sale_price},</if>
		<if test="safe_quantity !=null">safe_quantity=#{safe_quantity},</if>
		<if test="online !=null">online=#{online}</if>
		</set>
		where mall_code=#{mall_code} and p_code=#{p_code}
	</update>
	
	<!-- 批量删除门店商品信息 -->
	<delete id="deleteMallProduct" parameterType="com.linjia.web.model.ReMallProduct">
		delete from b_mall_product_store 
		where mall_code=#{mall_code} and p_code=#{p_code}
	</delete>
	
	<!-- 批量导入门店商品 -->
	<insert id="insertLeadInPro" parameterType="list">
	 insert into b_mall_product_store(
        mall_code,
        p_code,
        sale_price,
        safe_quantity,
        online) values
     <foreach collection="list" item="item" index="index"  separator="," >  
       (#{item.mallCode},
      	#{item.pCode},
        #{item.salePrice},
        #{item.safeQuantity},
        #{item.online})
    </foreach>
	</insert>
	
	<!-- 批量设置门店商品 -->
	<update id="updateBatchProducts"  parameterType="java.util.List">  
          <foreach collection="list" item="item" index="index" open="" close="" separator=";">  
         	 update b_mall_product_store   
               <set>
					<if test="item.marketPrice !=null">market_price=#{item.marketPrice},</if>
					<if test="item.salePrice !=null">sale_price=#{item.salePrice},</if>
					<if test="item.quantity !=null">quantity=#{item.quantity},</if>
					<if test="item.safeQuantity !=null">safe_quantity=#{item.safeQuantity},</if>
					<if test="item.online !=null">online=#{item.online}</if>
				</set>
			where mall_code=#{item.mallCode} and p_code=#{item.pCode} 
         </foreach>  
    </update>
</mapper>