<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjia.web.dao.NewProductRecommendMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.NewProductRecommend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="p_code" property="pCode" jdbcType="VARCHAR" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
    <result column="safe_quantity" property="safeQuantity" jdbcType="INTEGER" />
    <result column="online" property="online" jdbcType="BIT" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
<!-- 引用JAVA中定义的常量  -->
<!-- r.czmc='${@com.ytoxl.module.datahub.kernel.dataobject.EcSystemLog@THE_AUDIT}' -->  
    id, product_id, p_code, p_name, sale_price, market_price, safe_quantity, CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',image_path) AS image_path, online, sort_index, 
    deleted, cre_date, update_date
  </sql>
  
  <select id="selectNewProductList" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from b_new_product_recommend
    order by sort_index
  </select>
  
  <update id="updateBatchByPrimaryKey" parameterType="list" >
  <foreach collection="list" item="item" index="index" open="" close="" separator=";">  
    update b_new_product_recommend
    <set >
      <if test="item.productId != null" >
        product_id = #{item.productId,jdbcType=INTEGER},
      </if>
      <if test="item.pCode != null" >
        p_code = #{item.pCode,jdbcType=VARCHAR},
      </if>
      <if test="item.pName != null" >
        p_name = #{item.pName,jdbcType=VARCHAR},
      </if>
      <if test="item.marketPrice != null" >
        market_price = #{item.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="item.imagePath != null" >
        image_path = #{item.imagePath,jdbcType=VARCHAR},
      </if>
      <if test="item.updateDate != null" >
        update_date = #{item.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
   	where id = #{item.id,jdbcType=INTEGER}
   	</foreach>
  </update>
</mapper>