<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjia.web.dao.SecRoleMapper">
  <resultMap id="BaseResultMap" type="com.linjia.web.model.SecRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="cre_date" jdbcType="TIMESTAMP" property="creDate" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
  </resultMap>
  <sql id="Base_Column_List">
    msr.id, msr.name, msr.description, msr.parent_id, msr.deleted, msr.cre_date, msr.creator, msr.update_date, msr.updater
  </sql>
  <select id="selectByPageList" parameterType="com.linjia.web.query.SecRoleQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from m_sec_role msr
    where deleted = 0
    <if test="level !=0">
    	AND EXISTS(  
        SELECT id FROM m_user_role mur
        WHERE msr.id = mur.sec_role_id AND mur.sec_user_id = #{userId,jdbcType=INTEGER})
    </if>
    order by id desc
    limit #{startIndex},#{pageSize}
  </select>
  
  <select id="countByExample" parameterType="com.linjia.web.query.SecRoleQuery" resultType="java.lang.Integer">
    select
    count(id)
    from m_sec_role 
    where deleted = 0
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_sec_role msr
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update  m_sec_role set deleted =1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.linjia.web.model.SecRole">
    insert into m_sec_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="creDate != null">
        cre_date,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="creDate != null">
        #{creDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linjia.web.model.SecRole" >
    update m_sec_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
   	where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 查询用户角色权限 -->
  <select id="selectAllRoleInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from m_sec_role msr
    where deleted = 0
    order by id desc
  </select>
</mapper>