<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjia.web.dao.UserCardCouponMapper">
  <resultMap id="BaseResultMap" type="com.linjia.web.model.UserCardCoupon">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_cardNo" jdbcType="VARCHAR" property="userCardno" />
    <result column="card_coupon_id" jdbcType="INTEGER" property="cardCouponId" />
    <result column="card_type" property="cardType" jdbcType="INTEGER" />
    <result column="card_name" property="cardName" jdbcType="VARCHAR" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="use_start_time" jdbcType="TIMESTAMP" property="useStartTime" />
    <result column="use_end_time" jdbcType="TIMESTAMP" property="useEndTime" />
    <result column="use_status" jdbcType="INTEGER" property="useStatus" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="use_time" jdbcType="TIMESTAMP" property="useTime" />
    <result column="mall_code" jdbcType="VARCHAR" property="mallCode" />
    <result column="card_coupon_price" jdbcType="DECIMAL" property="cardCouponPrice" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="p_code" jdbcType="VARCHAR" property="pCode" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  
  <resultMap id="BaseResultMap_2" type="com.linjia.web.model.SelectCustSendCardCoupon">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_cardNo" jdbcType="VARCHAR" property="userCardno" />
    <result column="card_coupon_id" jdbcType="INTEGER" property="cardCouponId" />
    <result column="card_type" property="cardType" jdbcType="INTEGER" />
    <result column="alreadySendNum" jdbcType="INTEGER" property="alreadySendNum" />
    <result column="custname" jdbcType="INTEGER" property="custname" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, user_id, user_cardNo, card_coupon_id, card_type, card_name, receive_time, use_start_time, use_end_time, 
    use_status, update_date, use_time, mall_code, card_coupon_price, group_id, p_code, 
    p_name, deleted
  </sql>
  
  <sql id="Base_Column_List_1">
    bucc.id, bucc.user_id, user_cardNo, card_coupon_id, bucc.card_type, card_name, receive_time, bucc.use_start_time, bucc.use_end_time, 
    use_status, update_date, use_time, bucc.mall_code, card_coupon_price, group_id, p_code, 
    p_name, deleted,cc.card_name,cc.start_time,cc.amount AS card_coupon_price,cm.phone
  </sql>
  
  <select id="selectByPageList" parameterType="com.linjia.web.query.UserCardCouponQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_1" />
    from b_user_card_coupon bucc INNER JOIN card_coupon cc ON bucc.card_coupon_id = cc.card_id
    INNER JOIN cust_master cm ON bucc.user_id = cm.user_id
    where deleted = 0
    AND card_coupon_id = #{cardCouponId,jdbcType=BIGINT}
    <if test="useStatus == 0 or useStatus == 1">
    <!-- 卡券使用状态:0未使用；1已使用 -->
    	AND use_status = #{useStatus,jdbcType=INTEGER}
    </if>
    <if test="useStatus == 2">
    <!-- 2表示已过期的情况 -->
    	<![CDATA[ AND bucc.use_end_time < now()]]>
    </if>
    <if test="phone != null and phone !=''">
    	AND cm.phone = #{phone,jdbcType=VARCHAR}
    </if>
    order by id desc
    <if test="exportFlag == null">
    limit #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="countByExample" parameterType="com.linjia.web.query.UserCardCouponQuery" resultType="java.lang.Integer">
    select
    count(*) 
    from b_user_card_coupon bucc INNER JOIN card_coupon cc ON bucc.card_coupon_id = cc.card_id
    INNER JOIN cust_master cm ON bucc.user_id = cm.user_id
    where deleted = 0
    AND card_coupon_id = #{cardCouponId,jdbcType=BIGINT}
    <if test="useStatus == 0 or useStatus == 1">
    <!-- 卡券使用状态:0未使用；1已使用 -->
    	AND use_status = #{useStatus,jdbcType=INTEGER}
    </if>
    <if test="useStatus == 2">
    <!-- 2表示已过期的情况 -->
    	<![CDATA[ AND bucc.use_end_time < now()]]>
    </if>
    <if test="phone != null and phone !=''">
    	AND cm.phone = #{phone,jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_user_card_coupon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update b_user_card_coupon set deleted = true
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <!-- 选择会员发放优惠券 -->
   <select id="selectCustSendCardCoupon" parameterType="com.linjia.web.query.UserCardCouponQuery" resultMap="BaseResultMap_2">
    SELECT cm.user_id,cm.custname,count(bucc.id) AS alreadySendNum 
    FROM
    `cust_master` cm  LEFT JOIN b_user_card_coupon bucc ON cm.user_id = bucc.user_id AND bucc.card_coupon_id = #{cardCouponId,jdbcType=BIGINT}
    where 1 = 1
    <if test="userId != null and userId !=''">
    	AND cm.user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="phone != null and phone !=''">
    	AND cm.phone like #{phone,jdbcType=VARCHAR}
    </if>
    group by cm.user_id
    ORDER BY cm.registerDate
    limit #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <!-- 手动发放优惠券给会员 -->
  <insert id="insertBatch" parameterType="list">
    insert into b_user_card_coupon (user_id, user_cardNo, 
      card_coupon_id, card_type, receive_time, source_type, use_start_time, 
      use_end_time, use_status, update_date, 
      use_time, mall_code, card_coupon_price, 
      group_id, p_code, p_name
      )
    values 
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.userId,jdbcType=VARCHAR}, #{item.userCardno,jdbcType=VARCHAR}, 
      #{item.cardCouponId,jdbcType=INTEGER}, #{item.cardType,jdbcType=INTEGER}, #{item.receiveTime,jdbcType=TIMESTAMP}, #{item.sourceType,jdbcType=INTEGER}, #{item.useStartTime,jdbcType=TIMESTAMP}, 
      #{item.useEndTime,jdbcType=TIMESTAMP}, #{item.useStatus,jdbcType=TINYINT}, #{item.updateDate,jdbcType=TIMESTAMP}, 
      #{item.useTime,jdbcType=TIMESTAMP}, #{item.mallCode,jdbcType=VARCHAR}, #{item.cardCouponPrice,jdbcType=DECIMAL}, 
      #{item.groupId,jdbcType=BIGINT}, #{item.pCode,jdbcType=VARCHAR}, #{item.pName,jdbcType=VARCHAR})
     </foreach>
  </insert>
  
  <!-- 更新优惠券使用状态 -->
  <update id="updateUseStatusByPrimaryKey" parameterType="com.linjia.web.model.UserCardCoupon" >
    update b_user_card_coupon
    set use_status = #{useStatus,jdbcType=INTEGER},
    update_date = NOW(),
    mall_code = #{mallCode,jdbcType=VARCHAR},
    <if test="cardCouponPrice != null">
    card_coupon_price = #{cardCouponPrice,jdbcType=DECIMAL},
    </if>
    <if test="groupId != null">
    group_id = #{groupId,jdbcType=BIGINT},
    </if>
    <if test="pCode != null">
    p_code = #{pCode,jdbcType=VARCHAR},
    </if>
    <if test="pName != null">
    p_name = #{pName,jdbcType=VARCHAR},
    </if>
    <if test="tranId != null">
    tran_id = #{tranId,jdbcType=VARCHAR},
    </if>
    use_time = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>